<template>
  <tbody>
    <tr :key="row.id" v-for="row in rows">
      <td data-label="Nombre">{{ row.first_name }}</td>
      <td data-label="Apellido">{{ row.last_name }}</td>
      <td data-label="Presente">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" :id="row.id" @click="toggle(row.id)"/>
          <label v-if="row.attendance" class="custom-control-label" :for="row.id">Presente</label>
          <label v-else class="custom-control-label" :for="row.id">Ausente</label>
        </div>
      </td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "AttendanceStudentList",
  props: ["rows"],
  methods:{
      toggle(id){
          this.$emit("toggle",id)
      }
  }
};
</script>