<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Nombre">{{ row.profile.first_name | capitalize }}</td>
        <td data-label="Apellido">{{ row.profile.last_name | capitalize }}</td>
        <td data-label="Email">{{ row.profile.email }}</td>      
        <td data-label="Cantidad">{{ row.amount }}</td>      
    </tr>
</tbody>
</template>

<script>
export default {
    name: 'AttendeeList',
    props: [
        'rows'
    ]
}
</script>