<template>
  <tbody>
    <tr :key="row.id" v-for="row in rows">
      <td data-label="Nombre">{{row.first_name}}</td>
      <td data-label="Apellido">{{ row.last_name}}</td>
      <td data-label="Nivel">{{ row.level }}</td>
      <td data-label="Total clases">{{ row.total_count}}</td>
      <td data-label="Clases asistidas">{{ row.count_attendance }}</td>
      <td
        data-label="Peligro de abandono"
      >{{calculate_danger(row.total_count,row.count_attendance)}}</td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "CourseStudentList",
  props: ["rows"],
  methods: {
    calculate_danger(total, asistidas) {
      if (total == 0) {
        return "NO";
      } else {
        var result = (asistidas * 100) / total;
        if (result > 50) {
          return "NO";
        } else {
          return "SI";
        }
      }
    }
  }
};
</script>