<template>
  <tbody>
    <tr :key="row.id" v-for="row in rows">
      <td
        data-label="CicloLectivo"
      >{{ row.period.start }} - {{ row.period.end }} ( Semestre {{row.period.semester}})</td>
      <td data-label="Taller">{{ row.workshop.name | capitalize }}</td>
      <td data-label="Núcleo">{{ row.center.name }}</td>
      <td data-label="Día">{{ row.weekday.name | capitalize }}</td>
      <td data-label="Hora">{{ row.hour }}</td>
      <td data-label="Detalles">
        <router-link class="btn btn-sm btn-custom-light" :to="'curso/'+ row.id">Ver más</router-link>
      </td>
    </tr>
  </tbody>
</template>

<script>
import axios from "axios";
export default {
  name: "CourseList",
  props: ["rows"]
};
</script>

<style scoped>

.custom-table a, .page-link {
     color: black !important; 
}

.custom-table a:hover{
  color: white !important;
}

</style>