<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Taller">{{ row.workshop.name | capitalize }}</td>
        <td data-label="Desde">{{ row.period.start }}</td>
        <td data-label="Hasta">{{ row.period.end }}</td>
        <td data-label="Semestre">{{ row.period.semester }}</td>
    </tr>
</tbody>
</template>

<script>
export default {
    name: 'EnrollmentList',
    props: [
        'rows'
    ]
}
</script>