<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Evento"><router-link :to="'evento/'+ row.id">{{ row.name.text | capitalize }}</router-link></td>
        <td data-label="Estado">{{ row.status | capitalize }}</td>
        <td data-label="Fecha">{{ row.start.local.split('T')[0] }}</td>
        <td data-label="Borrar">
            <button :disabled="isProcessing(row.id)" class="btn btn-sm btn-custom-light">
                <span v-if="!isProcessing(row.id)" @click="remove(row.id)">Cancelar</span>
                <span v-if="isProcessing(row.id)" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        </td>
    </tr>
</tbody>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'EventList',
    props: [
        'rows'
    ],
    computed: {
        isProcessing: function(id) {
            return this.processing(id)
        }
    },
    methods: {
        ...mapGetters(['processing']),
        ...mapActions(['startProcessing']),
        remove(id) {
            this.$dialog.confirm('Está seguro que desea cancelar el evento?')
                .then(dialog => {
                    this.startProcessing(id)
                    this.$parent.$emit('deleteEvent', id)
                })
                .catch(() => {})
            
        }
    }
}
</script>