<template>
  <tbody>
    <tr :key="row.id" v-for="row in rows">
      <td data-label="Numero"><router-link :to="'instrumento/'+ row.id">{{ row.inventory_number }}</router-link></td>
      <td data-label="Nombre">{{ row.name }}</td>
      <td data-label="Tipo">{{ row.type.name }}</td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "InstrumentList",
  props: ["rows"],
};
</script>