<template>
  <tbody>
    <tr :key="row.id" v-for="row in rows">
      <td data-label="Nombre">{{ row.name }}</td>
      <td data-label="Acciones">
        <button
          v-confirm="{ok:dialog => deleteType(row.id), message: 'Se eliminara el tipo de instrumento del sistema. Desea Continuar?'}"
          type="button"
          class="btn btn-sm btn-custom-light"
        >
          <span>Eliminar</span>
        </button>
      </td>
    </tr>
  </tbody>
</template>

<script>
import axios from 'axios'
import VuejsDialog from 'vuejs-dialog';
export default {
  name: "InstrumentTypeList",
  props: ["rows"],
  methods: {
    deleteType(id) {
      const formData = new FormData();
      formData.append("id", id);
      axios
        .post("/instrument_type/instrument_type_delete", formData)
        .then(response => {
          this.$toast.success("de instrumento eliminado", "Tipo");
          this.$emit("reload")
        })
        .catch(error => {
          this.$toast.error('Inténtelo más tarde', 'Error')
        });
    },
  }
};
</script>