<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Nombre Instrumento">{{ row.inventory_name| capitalize }}</td>
        <td data-label="Nombre Alumno">{{ row.student_name | capitalize }} </td>
        <td data-label="Inicio Prestamo">{{ row.started_at }}</td>
        <td data-label="Fin Prestamo">{{ row.ended_at }} </td>    
    </tr>
</tbody>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'LoanList',
    props: [
        'rows'
    ],
    methods: {
        ...mapGetters(['processing']),
        ...mapActions(['startProcessing']),
    }
}
</script>

<style scoped>
.btn {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
</style>