<template>
  <tbody>
    <tr :key="row.id" v-for="row in rows">
      <td data-label="Principio">{{ row.start }}</td>
      <td data-label="Fin">{{ row.end }}</td>
      <td data-label="Semestre">{{ row.semester }}</td>
      <td data-label="Detalles"><router-link class="btn btn-sm btn-custom-light" :to="'ciclo/'+ row.id">Ver más</router-link></td>
    </tr>
  </tbody>
</template>

<script>
export default {
  name: "PeriodList",
  props: ["rows"],
};
</script>

<style scoped>

.custom-table a, .page-link {
     color: black !important; 
}

.custom-table a:hover{
  color: white !important;
}

</style>