<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Nombre">{{ row.first_name }}</td>
        <td data-label="Apellido">{{ row.last_name }}</td>
        <td data-label="Nivel">{{ row.level.name | capitalize }}</td>
    </tr>
</tbody>
</template>

<script>
export default {
    name: 'StudentEnrollmentDetail',
    props: [
        'rows'
    ]
}
</script>