<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="DNI"><router-link :to="'alumno/'+ row.id">{{ row.document_number }}</router-link></td>
        <td data-label="Nombre">{{ row.first_name }}</td>
        <td data-label="Apellido">{{ row.last_name }}</td>
        <td data-label="Nivel">{{ row.id_level | capitalize }}</td>
        <td data-label="Barrio">{{ row.id_neighborhood }}</td>
        <td data-label="Escuela">{{ row.id_school }}</td>
    </tr>
</tbody>
</template>

<script>
export default {
    name: 'StudentList',
    props: [
        'rows'
    ]
}
</script>