<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="DNI"><router-link :to="'/responsable/'+ row.id">{{ row.document_number }}</router-link></td>
        <td data-label="Nombre">{{ row.first_name }}</td>
        <td data-label="Apellido">{{ row.last_name }}</td>
        <td data-label="Birth">{{ row.birthday }}</td>
        <td data-label="phone">{{ row.phone }}</td>



    </tr>
</tbody>
</template>

<script>
export default {
    name: 'StudentGuardianList',
    props: [
        'rows'
    ]
}
</script>