<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Usuario">{{ row.first_name | capitalize }}</td>
                <td data-label="Agregar">
            <!-- <button @click="$parent.$emit('deleteWorkshop', row.id)" class="btn btn-sm btn-custom-light">
                Borrar
            </button> -->
            <button class="btn btn-sm btn-custom-light">
                <span  @click="addStudent(row.first_name,row.id)">Agregar</span>
            </button>
        </td>
    </tr>
</tbody>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'StudentMiniList',
    props: [
        'rows'
    ],
    computed: {
        isEnrolling: function(id) {
            return this.processing(id)
        }
    },
    methods: {
        ...mapGetters(['processing']),
        ...mapActions(['startProcessing']),
        addStudent(name, id) {
            this.$parent.$emit('addStudent', name, id)
        }
    }
}
</script>

<style scoped>
.btn {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
</style>