<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Nombre">{{ row.first_name }}</td>
        <td data-label="Apellido">{{ row.last_name }}</td>
        <td data-label="Email">{{ row.email }}</td>
        <td data-label="Enroll">
            <button :disabled="isEnrolling(row.id)" class="btn btn-sm btn-custom-light">
                <span v-if="!isEnrolling(row.id)" @click="enroll(row.id)">Agregar</span>
                <span v-if="isEnrolling(row.id)" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        </td>
    </tr>
</tbody>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'TeacherEnrollmentList',
    props: [
        'rows'
    ],
    computed: {
        isEnrolling: function(id) {
            return this.processing(id)
        }
    },
    methods: {
        ...mapGetters(['processing']),
        ...mapActions(['startProcessing']),
        enroll(id) {
            this.startProcessing(id)
            this.$parent.$emit('enroll', id)
        }
    }
}
</script>