<template>
<tbody>
    <tr :key="row.id" v-for="row in rows">
        <td data-label="Usuario"><router-link :to="'editarTaller/'+ row.id">{{ row.name | capitalize }}</router-link></td>
        <td data-label="Borrar">
            <!-- <button @click="$parent.$emit('deleteWorkshop', row.id)" class="btn btn-sm btn-custom-light">
                Borrar
            </button> -->
            <button :disabled="isEnrolling(row.id)" class="btn btn-sm btn-custom-light">
                <span v-if="!isEnrolling(row.id)" @click="remove(row.id)">Borrar</span>
                <span v-if="isEnrolling(row.id)" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        </td>
    </tr>
</tbody>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'WorkshopList',
    props: [
        'rows'
    ],
    computed: {
        isEnrolling: function(id) {
            return this.processing(id)
        }
    },
    methods: {
        ...mapGetters(['processing']),
        ...mapActions(['startProcessing']),
        remove(id) {
            this.startProcessing(id)
            this.$parent.$emit('deleteWorkshop', id)
        }
    }
}
</script>

<style scoped>
.btn {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
</style>