<template>
  <div>
    <ViewTitleOptions title="Talleres y ciclos lectivos" :options="options" />

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <AssignPeriod
              :listPeriods="periods"
              :loadPeriods="spinnerPeriods"
              :listEnrollments="enrollments"
              :listWorkshops="workshops"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import AssignPeriod from "../components/AssignPeriod";
import axios from "axios";
import moment from "moment";
export default {
  name: "AssignEnrollmentPeriod",
  components: {
    ViewTitleOptions,
    AssignPeriod,
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/ciclo",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      spinnerPeriods: true,
      periods: [],
      enrollments: [],
      workshops: []
    };
  },
  methods: {
    getFormat(date) {
      return moment(date)
        .add(1, "d")
        .format("DD/MM/YYYY");
    }
  },
  created() {
    let url_periods = "/period";
    let url_enrollments = "/period/enrollment";
    let url_workshops = "/period/workshop";
    axios
      .get(url_periods)
      .then(response => {
        let data = response.data;
        let result = [];
        data.forEach(element => {
          result.push({
            id: element.id,
            name:
              this.getFormat(element.start) +
              " - " +
              this.getFormat(element.end) +
              " (Semestre: " +
              element.semester +
              ")"
          });
        });
        this.periods = result;
        this.spinnerPeriods = false;
      })
      .catch(e => {});
    axios
      .get(url_enrollments)
      .then(response => {
        let data = response.data;
        let result = [];
        data.forEach(element => {
          result.push({
            id: element.id_enrollment,
            id_period: element.id_period,
            id_workshop: element.id_workshop,
            workshop: element.workshop
          });
        });
        this.enrollments = result;
      })
      .catch(e => {});
    axios
      .get(url_workshops)
      .then(response => {
        let data = response.data;
        let result = [];
        data.forEach(element => {
          result.push({
            id: element.id,
            name: element.name
          });
        });
        this.workshops = result;
      })
      .catch(e => {});
  }
};
</script>

<style scoped>
/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s /*cubic-bezier(1.0, 0.5, 0.8, 1.0)*/ ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

 {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.5s ease;
}

.fade-leave-active {
  transition: all 0s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

 {
  transform: translateX(10px);
  opacity: 0;
}
</style>