<template>
  <div>
    <ViewTitleOptions title="Cursos" :options="options" />
    <SearchableList
      :listName="list"
      :columns="columns"
      :endpoint="endpoint"
      :options="queryOptions"
    />
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import SearchableList from "../components/SearchableList";
import CourseList from "../components/SearchableListHeader/CourseList";
export default {
  name: "Course",
  components: {
    ViewTitleOptions,
    SearchableList,
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/curso/nuevo",
          name: "Crear Curso",
          icon: "plus"
        }
      ],
      list: CourseList,
      endpoint: "/enrollment",
      columns: [
        "Ciclo lectivo",
        "Taller",
        "Núcleo",
        "Día",
        "Hora",
        "Detalles",
      ],
      queryOptions: {
        shouldSort: true,
        tokenize: true,
        threshold: 0.2,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["period", "workshop.name","center.name","weekday.name"]
      }
    };
  }
};
</script>

<style>
</style>