<template>
  <div>
    <ViewTitleOptions title="Mis Cursos"/>
    <SearchableList
      :listName="list"
      :columns="columns"
      :endpoint="endpoint"
      :options="queryOptions"
    />
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import SearchableList from "../components/SearchableList";
import CourseList from "../components/SearchableListHeader/CourseList";
import { mapGetters } from 'vuex'
export default {
  name: "CourseTeacher",
  components: {
    ViewTitleOptions,
    SearchableList,
  },
  data() {
    return {
      list: CourseList,
      endpoint: "/enrolled/teacher/"+this.getUser().id,
      columns: [
        "Ciclo lectivo",
        "Taller",
        "Núcleo",
        "Día",
        "Hora",
        "Detalles"
      ],
      queryOptions: {
        shouldSort: true,
        tokenize: true,
        threshold: 0.2,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["period", "workshop.name","center.name","weekday.name"]
      }
    };
  },
  methods:{
    ...mapGetters(['getUser']),
  }
};
</script>

<style>
</style>