<template>
    <div>
    <ViewTitleOptions title="Editar Taller" :options=options />
    <div class="workshop-container">
      <form class='form-signin' @submit.prevent="submit">
          <input autocomplete='off' type="text" name='inputName' id="inputName" class="form-control"
              placeholder=" " required autofocus v-model="form.inputName">
          <label for="inputName" class="form-placeholder">Taller</label>
          <span style="color:red" class="d-none" :class="{ 'd-block' : form.invalid }">Los datos ingresados son incorrectos o el taller ya existe</span>
          <button :disabled="isProcessing" type="submit" class="btn btn-lg btn-custom-light btn-block">
              <span v-if="!isProcessing" >Editar</span>
              <span v-if="isProcessing" class="spinner-border" role="status"></span>
          </button>
      </form>
    </div>
    </div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import axios from 'axios'
import { mapMutations } from 'vuex'

export default {
    name: 'NewWorkshop',
    components: {
        ViewTitleOptions
    },
    data() {
      return {
        form: {
          inputName: null,
          invalid: false
        },
        isProcessing: false,
      }
    },
    methods: {
      ...mapMutations(['editWorkshop']),
      submit() {
        this.isProcessing = true
        this.form.invalid = false

        const formData = new FormData()
        formData.append('inputName', this.form.inputName)
        formData.append('id',this.$route.params.id)

        axios.post('/editFinalWorkShop', formData)
          .then(response => {
            this.editWorkshop(response.data.user)
            this.$toast.success('actualizado', 'Taller')
            this.$router.push('/workshop')
          })
          .catch(error => {
            if (error.response.status == 400) {
              this.form.invalid = true
            } else {
              this.$toast.error('Inténtelo más tarde', 'Error')
            }
          })
          .finally(() => {
            this.isProcessing = false
          })
      }     
    },
    created() {
        axios.get(this.$route.params.id)
            .then(response => {
                this.form.inputName = response.data.name                       
            })
            .catch(error => {})
    }  
}
</script>

<style scoped>
.workshop-container {
  width: 50%;
  height: 100%;
  align-items: left;
  justify-content: left;
}

.card {
  border-radius: 2em;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: left; 
  justify-content: left;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  padding-bottom: 5px
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn{
    padding-top: 5px;
    margin-top: 5px;
    width: 50%;
}

.d-block .d-none{
  padding-bottom: 5px;
  padding-top: 5px;
}

</style>







