<template>
    <Enrollment title="Alumnos" enrolling="student" :list=list :columns=columns :queryOptions=queryOptions />
</template>

<script>
import Enrollment from '../components/Enrollment'
import StudentEnrollmentList from '../components/SearchableListHeader/StudentEnrollmentList'

export default {
    name: 'EnrollmentStudent',
    components: {
        Enrollment,
        StudentEnrollmentList
    },
    data() {
        return {
            list: StudentEnrollmentList,
            columns: ['nombre', 'apellido', 'nivel', 'inscripcion'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'first_name',
                    'last_name',
                    'level.name'
                ]
            }
        }
    }
}
</script>