<template>
<div>
    <ViewTitleOptions title="Detalles de inscripción" :options=options />
    <div v-if="enrollment" class="row">
        <div class="col-lg-6 py-1">
            <div class="card shadow p-0">
                <div class="card-header">
                    <h5>{{ enrollment.workshop.name | capitalize }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6>Núcleo</h6>
                            <p class="pl-2">{{ enrollment.center.name }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h6>Día</h6>
                            <p class="pl-2">{{ enrollment.weekday.name | capitalize }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h6>Hora</h6>
                            <p class="pl-2">{{ enrollment.hour }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 py-1">
            <div class="card shadow p-0">
                <div class="card-header">
                    <h5>Ciclo lectivo</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6>Desde</h6>
                            <p class="pl-2">{{ enrollment.period.start }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h6>Hasta</h6>
                            <p class="pl-2">{{ enrollment.period.end }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h6>Semestre</h6>
                            <p class="pl-2">{{ enrollment.period.semester }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <SearchableList :listName=studentList :listTitle=studentTitle :columns=studentColumns :endpoint=studentEndpoint :options=studentQueryOptions class="mt-4" /> 
    <SearchableList :listName=teacherList :listTitle=teacherTitle :columns=teacherColumns :endpoint=teacherEndpoint :options=teacherQueryOptions clasS="mt-4" /> 
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import StudentEnrollmentDetail from '../components/SearchableListHeader/StudentEnrollmentDetail'
import TeacherEnrollmentDetail from '../components/SearchableListHeader/TeacherEnrollmentDetail'

export default {
    name: 'EnrollmentDetail',
    components: {
        ViewTitleOptions,
        SearchableList
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/inscripcion/alumno',
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            enrollment: null,
            studentList: StudentEnrollmentDetail,
            teacherList: TeacherEnrollmentDetail,
            studentTitle: 'Estudiantes inscriptos',
            teacherTitle: 'Docentes inscriptos',
            studentColumns: ['nombre', 'apellido', 'nivel'],
            teacherColumns: ['nombre', 'apellido','email'],
            studentQueryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'first_name',
                    'last_name',
                    'level.name'
                ]
            },
            teacherQueryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'first_name',
                    'last_name',
                    'email'
                ]
            }
        }
    },
    computed: {
        studentEndpoint: function() {
            return "/student/enrolled/" + this.$route.params.id
        },
        teacherEndpoint: function() {
            return "/teacher/enrolled/" + this.$route.params.id
        }
    },
    created() {
        axios.get('/enrollment/' + this.$route.params.id)
            .then(response => 
                this.enrollment = response.data)
            .catch(error => {
                this.$toast.error('Inténtelo más tarde', 'Error')
            })
    }
}
</script>

<style scoped>

</style>