<template>
    <Enrollment title="Docentes" enrolling="teacher" :list=list :columns=columns :queryOptions=queryOptions />
</template>

<script>
import Enrollment from '../components/Enrollment'
import TeacherEnrollmentList from '../components/SearchableListHeader/TeacherEnrollmentList'

export default {
    name: 'EnrollmentTeacher',
    components: {
        Enrollment,
        TeacherEnrollmentList
    },
    data() {
        return {
            list: TeacherEnrollmentList,
            columns: ['nombre', 'apellido', 'email', 'inscripcion'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'first_name',
                    'last_name',
                    'email'
                ]
            }
        }
    }
}
</script>