<template>
<div>
    <ViewTitleOptions title="Eventos" :options=options />
    <SearchableList @deleteEvent="deleteEvent" ref="searchableList" :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />
</div>
</template>    

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import EventList from '../components/SearchableListHeader/EventList'
import { mapActions } from 'vuex'

export default {
    name: 'Event',
    components: {
        ViewTitleOptions,
        SearchableList,
        EventList
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/evento/nuevo',
                    name: 'Agregar',
                    icon: 'plus'
                }
            ],
            list: EventList,
            endpoint: '/event',
            columns: ['nombre', 'estado', 'fecha', 'acciones'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'name.text',
                    'status',
                    'row.start.local'
                ]
            }
        }
    },
    methods: {
        ...mapActions(['stopProcessing']),
        deleteEvent(id) {
            axios.delete('/event/' + id + '/delete')
                .then(response => {
                    this.$refs.searchableList.remove(id)
                    this.$toast.success('cancelado', 'Evento')
                    this.stopProcessing(id)
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                    this.stopProcessing(id)
                })
        }
    }
}
</script>