<template>
<div>
    <ViewTitleOptions title="Invitar a evento" :options=options />
    <div class="card shadow col-lg-6 p-0">
        <div class="card-body">
            <form @submit.prevent="submit" novalidate>
                <div :key=index v-for="(email, index) in $v.emails.$each.$iter">
                    <div class="form-group row py-1" :class="{ 'form-group--error': email.$error }">
                        <div class="col-sm-10">
                            <input placeholder=" " class="form-control" :id="'email-' + index" :name="'email-' + index" v-model.trim="email.value.$model" type="email" :class="{ 'is-invalid': email.$error | !email.$model.isValid }" />
                            
                            <label :for="'email-' + index" class="form-placeholder">Email</label>
                            <div class="invalid-tooltip">Ingrese un email válido</div>
                        </div>
                        <div class="col-sm-2">
                            <button form="#" @click=removeInput(email.$model.id) class="btn btn-sm btn-custom-light">-</button>
                        </div>
                    </div>
                </div>
                <button form="#" @click=addInput class="btn btn-custom-light">+</button>
                <button :disabled="isProcessing" type="submit" class="btn btn-custom-light ml-2">
                    <span v-if="!isProcessing" >Aceptar</span>
                    <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import { required, email } from 'vuelidate/lib/validators'

export default {
    name: 'EventInvite',
    components: {
        ViewTitleOptions
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/evento/' + this.$route.params.id,
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            emails: [
                {
                    id: 'email-1',
                    value: null,
                    isValid: true
                }
            ],
            isProcessing: false
        }
    },
    validations() {
        return {
            emails: {
                required,
                $each: {
                    value: {
                        required,
                        email
                    }
                }
            }
        }
    },
    methods: {
        addInput() {
            this.emails.push({
                id: 'email-' + (this.emails.length + 1),
                value: null,
                isValid: true
            })
        },
        removeInput(id) {
            this.emails = this.emails.filter(email => email.id != id)
        },
        submit() {
            this.$v.$touch()
            if (this.$v.$invalid) return

            this.isProcessing = true

            const data = new FormData()
            this.emails.forEach(email => data.append(email.id, email.value))
            axios.post('/event/' + this.$route.params.id + '/invite', data)
                .then(response => {
                    this.$toast.success('invitaciones enviadas', `${this.emails.length}`)
                    this.$router.push('/evento/' + this.$route.params.id)
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
                .finally(() => this.isProcessing = false)
        }
    }
}
</script>