<template>
<div>
    <ViewTitleOptions title="Detalle del evento" :options=options />
    <div v-if=event>
        <div class="card shadow col-lg-7 p-0">
            <div class="card-header">
                <h5 class="mb-0">{{ event.name.text }}</h5>
            </div>
            <div class="card-body">

                <h6 class="h6">Descripción:</h6>
                <p class="ml-3">{{ event.description.text }}</p>

                <div class="row mt-4">
                    <div class="col-sm-4">
                        <h6 class="h6">Día:</h6>
                        <p class="ml-3">{{ event.start.local.split('T')[0] }}</p>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="h6">Hora:</h6>
                        <p class="ml-3">{{ event.start.local.split('T')[1].slice(0, -3) }} hs</p>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="h6">Capacidad:</h6>
                        <p class="ml-3">{{ event.capacity }} personas</p>
                    </div>
                </div> 

                <h6 class="h6 mt-1">Dirección:</h6>
                    <p class="ml-3">{{ event.venue.name }}</p>    
                    <p class="ml-3">{{ event.venue.address.address_1 }}</p>    

                <div class="map-container mb-3">
                    <l-map class="map" :zoom=15 :center=mapCenter >
                        <l-tile-layer :url=mapUrl />
                        <l-marker :lat-lng=mapCenter /> 
                    </l-map>
                </div>
            </div>
        </div>
        <SearchableList :listName=list :listTitle="'Invitaciones confirmadas'" :columns=columns :endpoint=endpoint :options=queryOptions class="my-4" />
    </div>
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import { latLng } from "leaflet"
import { LMap, LTileLayer, LMarker } from "vue2-leaflet"
import SearchableList from '../components/SearchableList'
import AttendeeList from '../components/SearchableListHeader/AttendeeList'

export default {
    name: 'EventDetail',
    components: {
        ViewTitleOptions,
        SearchableList,
        AttendeeList,
        LMap,
        LTileLayer,
        LMarker
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/evento/' + this.$route.params.id + '/invitar',
                    name: 'Invitar',
                    icon: 'user-check'
                },
                {
                    id: 2,
                    link: '/evento',
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            mapUrl: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
            event: null,
            list: AttendeeList,
            endpoint: "/attendee/" + this.$route.params.id,
            columns: ['nombre', 'apellido', 'email', 'cantidad'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'profile.first_name',
                    'profile.last_name',
                    'profile.email'
                ]
            }
        }
    },
    computed: {
        mapCenter: function() {
            if (this.event)
                return latLng(this.event.venue.address.latitude, this.event.venue.address.longitude)
            else
                return latLng(0,0) 
        }
    },
    created() {
        axios.get('/event/' + this.$route.params.id)
            .then(response => this.event = response.data)
            .catch(error => {
                this.$toast.error('Inténtelo más tarde', 'Error')
                this.$router.push('/evento')
            })
    }
}
</script>

<style scoped>

.map-container {
    height: 300px;
}

.map {
    position: relative;
}

.card-header {
    border-bottom: 1px solid #69262c;
}
</style>