<template>
<div class="container-fluid">
  <div class="row align-items-center d-inline-flex p-0">

    <div class="col d-flex justify-content-center">        
        <div class="card d-inline-flex shadow p-1"> 
            <div class="card-body p-0">
                <PieChart />
            </div>
        </div>
    </div>

    <div class="col d-flex justify-content-center">
        <div class="card d-inline-flex shadow p-1">
            <div class="card-body p-0">
                <LineChart />
            </div>
        </div>
    </div>
    
    <div class="col d-flex justify-content-center">
        <div class="card d-inline-flex shadow p-1">
            <div class="card-body p-0">
                 <BarChart />

            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">        
        <div class="card d-inline-flex shadow p-1"> 
                <div class="card-body p-0">
                    <RadialBarChart />

                </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center">        
        <div class="card d-inline-flex shadow p-1"> 
                <div class="card-body p-0">
                    <RadialBarChart />

                </div>
        </div>
    </div>  
    <div class="col d-flex justify-content-center">        
        <div class="card d-inline-flex shadow p-1"> 
                <div class="card-body p-0">
                    <RadialBarChart />

                </div>
        </div>
    </div>       
  </div>
</div>
</template>
       
        

<script>
import PieChart from '../components/Charts/Pie-Chart'
import LineChart from '../components/Charts/Line-Chart'
import RadialBarChart from '../components/Charts/RadialBar-Chart'
import BarChart from '../components/Charts/Bar-Chart'
import UserPie from '../components/Charts/User-Pie'


export default {
    name: 'Home',
    components: {
       PieChart,
       LineChart,
       RadialBarChart,
       BarChart,
       UserPie

    },
    
}
</script>
<style scoped>
.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-header {
    border-bottom: 1px solid #69262c;
}

@media(max-width: 767px){
    .container-fluid{
        padding-right: 0px;
        padding-top: 0px;
        margin-left: 2%;
    }
}

</style>