<template>
  <div>
    <ViewTitleOptions title="Tipos de instrumento" :options="options" />
    <SearchableList
      :listName="list"
      :columns="columns"
      :endpoint="endpoint"
      :options="queryOptions"
      :key="componentKey"
      @reload="reload = $event"
    />
    <CardWithFeedback :cardData="card" class="my-3 col-lg-12" @reload="reload = $event"/>
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import SearchableList from "../components/SearchableList";
import NewInstrumentType from "../views/NewInstrumentType";
import CardWithFeedback from '../components/CardWithFeedback'
import InstrumentTypeList from "../components/SearchableListHeader/InstrumentTypeList";
export default {
  name: "Instrument",
  components: {
    ViewTitleOptions,
    SearchableList,
    InstrumentTypeList,
    NewInstrumentType,
    CardWithFeedback
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/instrumento",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      card: {
        title: "Nuevo tipo de instrumento",
        form: NewInstrumentType,
        msj: {
          ok: "Actualizado",
          error: "Error al actualizar"
        }
      },
      count:0,
      reload:false,
      list: InstrumentTypeList,
      endpoint: "/instrument_type",
      columns: ["Nombre", "Acciones"],
      queryOptions: {
        shouldSort: true,
        tokenize: true,
        threshold: 0.2,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["name"]
      }
    };
  },
  computed:{
      componentKey(){
          if(this.reload){
              this.count++
              this.reload=false
          }
          return this.count
      }
  }
};
</script>
