<template>
<div>
<ViewTitleOptions title="Instrumentos" :options="options" />
    <SearchableList
      :listName="list"
      :columns="columns"
      :endpoint="endpoint"
      :options="queryOptions"
    />
</div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import SearchableList from "../components/SearchableList";
import InstrumentList from "../components/SearchableListHeader/InstrumentList";
export default {
  name: "Instrument",
  components: {
    ViewTitleOptions,
    SearchableList,
    InstrumentList
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/instrumento/nuevo",
          name: "Agregar",
          icon: "plus"
        },
        {
          id: 2,
          link: "/tipo_instrumento",
          name: "Tipos de instrumento",
          icon: "plus"
        },
        {
          id: 3,
          link: "/prestamo",
          name: "Prestamos",
          icon: "plus"
        },
      ],
      list: InstrumentList,
      endpoint: "/instruments",
      columns: [
        "Numero",
        "Nombre",
        "Tipo",
      ],
      queryOptions: {
        shouldSort: true,
        tokenize: true,
        threshold: 0.2,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["name", "type.name","inventory_number"]
      }
    };
  }
};
</script>
