<template>
    <div>
        <ViewTitleOptions title="Listado de prestamos" :options=options />
        <SearchableList ref="searchableList" :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />
    </div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import LoanList from '../components/SearchableListHeader/LoanList'
import { mapActions } from 'vuex'

export default {
    name: 'Loan',
    components: {
        ViewTitleOptions,
        SearchableList,
        LoanList
    },
    data() {
        return {
                        options: [
                {
                    id: 1,
                    link: '/nuevoPrestamo',
                    name: 'Nuevo Prestamo',
                    icon: 'plus'
                }
            ],
            list: LoanList,
            endpoint: "/loan",
            columns: ['Instrumento', 'Nombre Estudiante', 'Inicio Prestamo', 'Fin Prestamo'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'name'
                ]
            }
        }
    },
    methods: {
        ...mapActions(['stopProcessing']),   
    }
}
</script>

<style>

</style>
