<template>
  <div>
    <ViewTitleOptions title="Crear Curso" :options="options" />
    <div class="card shadow col-lg-8 p-0">
      <div class="card-header py-2">
        <h5 class="mb-0 mt-1 d-inline-block">Nuevo Curso</h5>
      </div>

      <div class="card-body">
        <div class="container-fluid">
          <form @submit.prevent="submit" class="needs-validation" novalidate>
            <div class="row">
              <!-- Periods List -->

              <div class="col-xl-12 my-2 mt-3">
                <div
                  class="form-group"
                  :class="{ 'form-group--error': $v.form.period.value.$error || !form.period.isValid }"
                >
                  <select
                    class="form-control w-100"
                    id="period"
                    v-model.trim="$v.form.period.value.$model"
                    :class="{ 'is-invalid': $v.form.period.value.$error || !form.period.isValid }"
                  >
                  <option hidden disabled :value="null" >Seleccione un ciclo lectivo</option>
                    <option
                      :key="period.id"
                      v-for="period in periods"
                      :value="period.id"
                    >{{ period.name }}</option>
                  </select>
                  <label for="period" class="form-placeholder">Ciclo lectivo</label>
                  <div class="invalid-tooltip">Seleccione un ciclo lectivo válido</div>
                </div>
              </div>

              <!-- Workshops List -->

              <div class="col-xl-12 my-2">
                <div
                  class="form-group"
                  :class="{ 'form-group--error': $v.form.workshop.value.$error || !form.workshop.isValid}"
                >
                  <select
                    class="form-control w-100"
                    id="workshop"
                    v-model.trim="$v.form.workshop.value.$model"
                    :class="{ 'is-invalid': $v.form.workshop.value.$error || !form.workshop.isValid }"
                    :disabled="!this.form.period.value"
                  >
                  <option hidden disabled :value="null" >Seleccione un taller</option>
                    <option
                      :key="workshop.id"
                      v-for="workshop in workshops"
                      :value="workshop.id"
                    >{{ workshop.name | capitalize }}</option>
                  </select>
                  <label for="workshop" class="form-placeholder">Taller</label>
                  <div class="invalid-tooltip">Seleccione un taller válido</div>
                </div>
              </div>

              <!-- Center List -->

              <div class="col-xl-6 my-2">
                <div
                  class="form-group"
                  :class="{ 'form-group--error': $v.form.center.value.$error || !form.center.isValid }"
                >
                  <select
                    class="form-control w-100"
                    id="center"
                    v-model.trim="$v.form.center.value.$model"
                    :class="{ 'is-invalid': $v.form.center.value.$error || !form.center.isValid }"
                    :disabled="!this.form.workshop.value"
                  >
                  <option hidden disabled :value="null" >Seleccione un núcleo</option>
                    <option
                      :key="center.id"
                      v-for="center in centers"
                      :value="center.id"
                    >{{ center.name }}</option>
                  </select>
                  <label for="center" class="form-placeholder">Núcleo</label>
                  <div class="invalid-tooltip">Seleccione un núcleo válido</div>
                </div>
              </div>

              <!-- Weekday List -->

              <div class="col-xl-6 my-2">
                <div
                  class="form-group"
                  :class="{ 'form-group--error': $v.form.weekday.value.$error || !form.weekday.isValid }"
                >
                  <select
                    class="form-control w-100"
                    id="weekday"
                    v-model.trim="$v.form.weekday.value.$model"
                    :class="{ 'is-invalid': $v.form.weekday.value.$error || !form.weekday.isValid }"
                    :disabled="!this.form.center.value"
                  >
                  <option hidden disabled :value="null" >Seleccione un día</option>
                    <option
                      :key="weekday.id"
                      v-for="weekday in remainingWeekdays"
                      :value="weekday.id"
                    >{{ weekday.name | capitalize }}</option>
                  </select>
                  <label for="weekday" class="form-placeholder">Día</label>
                  <div class="invalid-tooltip">Seleccione un día válido</div>
                </div>
              </div>

              <!-- Hour -->

              <div class="col-xl-6 mb-2">
                <div class="form-group" :class="{ 'form-group--error': $v.form.hour.value.$error }">
                  <p class="mb-2" for="hour">Hora:</p>
                  <date-picker
                    v-model="$v.form.hour.value.$model"
                    type="time"
                    class="w-100"
                    id="hour"
                    placeholder="Seleccione una hora"
                    value-type="format"
                    format="HH:mm"
                    :class="{ 'is-invalid': $v.form.hour.value.$error || !form.hour.isValid }"
                    :disabled="!this.form.weekday.value"
                  />
                  <div
                    v-if="$v.form.hour.value.$error || !form.hour.isValid"
                    class="invalid-tooltip d-inline-block"
                  >Seleccione una hora válida</div>
                </div>
              </div>
            </div>

            <!-- Submit & cancel buttons -->
            <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
              <span v-if="!isProcessing">Aceptar</span>
              <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
            <button
              @click="cancel"
              :disabled="isProcessing"
              type="button"
              class="btn btn-custom-light ml-2"
            >
              <span>Cancelar</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/es";
import { required } from "vuelidate/lib/validators";
export default {
  name: "NewEnrollment",
  components: {
    DatePicker,
    ViewTitleOptions
  },
  data() {
    return {
      isProcessing: false,
      periods: [],
      workshops: [],
      centers: [],
      weekdays: [],
      enrollments: [],
      options: [
        {
          id: 1,
          link: "/curso",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      form: {
        period: {
          id: "period",
          value: null,
          isValid: true
        },
        workshop: {
          id: "workshop",
          value: null,
          isValid: true
        },
        center: {
          id: "center",
          value: null,
          isValid: true
        },
        weekday: {
          id: "weekday",
          value: null,
          isValid: true
        },
        hour: {
          id: "hour",
          value: null,
          isValid: true
        }
      }
    };
  },
  validations() {
    return {
      form: {
        period: {
          value: {
            required
          }
        },
        workshop: {
          value: {
            required
          }
        },
        center: {
          value: {
            required
          }
        },
        weekday: {
          value: {
            required
          }
        },
        hour: {
          value: {
            required
          }
        }
      }
    };
  },
  created() {
    let url_periods = "/period";
    let url_workshops = "/workshop";
    let url_centers = "/center";
    let url_weekdays = "/weekday";
    let url_enrollments = "/enrollment";
    axios
      .get(url_periods)
      .then(response => {
        let data = response.data;
        let result = [];
        data.forEach(element => {
          result.push({
            id: element.id,
            name:
              element.start +
              " - " +
              element.end +
              " (Semestre: " +
              element.semester +
              ")"
          });
        });
        this.periods = result;
      })
      .catch(e => {});
    axios
      .get(url_enrollments)
      .then(response => {
        this.enrollments = response.data;
      })
      .catch(e => {});
    axios
      .get(url_workshops)
      .then(response => {
        this.workshops = response.data;
      })
      .catch(e => {});
    axios
      .get(url_centers)
      .then(response => {
        this.centers = response.data;
      })
      .catch(e => {});
    axios
      .get(url_weekdays)
      .then(response => {
        this.weekdays = response.data;
      })
      .catch(e => {});
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      const formData = new FormData();
      formData.append("period", this.form.period.value);
      formData.append("workshop", this.form.workshop.value);
      formData.append("center", this.form.center.value);
      formData.append("weekday", this.form.weekday.value);
      formData.append("hour", this.form.hour.value);
      axios
        .post("/enrollment/new", formData)
        .then(response => {
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          this.$toast.success('creado', 'Curso')
          this.$router.push("/curso");
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)) {
                value.isValid = false;
              } else {
                value.isValid = true;
              }
            }
            this.$toast.error('no pudo crearse', 'Curso')
          }
          else{
            this.$toast.error('Inténtelo más tarde', 'Error');
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    },
     cancel() {
      this.form.period.value = null;
      this.form.workshop.value = null;
      this.form.center.value = null;
      this.form.weekday.value = null;
      this.form.hour.value = null;
      this.$v.$reset();
    },
  },
  computed: {
    remainingWeekdays: function() {
      let activeEnrollments = this.enrollments.filter(
        elem =>
          elem.center.id == this.selectedCenter &&
          elem.period.id == this.selectedPeriod &&
          elem.workshop.id == this.selectedWorkshop
      );
      let activeWeekDays = activeEnrollments.map(
        enrollment => enrollment.weekday.id
      );
      return this.weekdays.filter(day => !activeWeekDays.includes(day.id));
    }
  }
};
</script>

<style scoped>
.invalid-tooltip {
  position: inherit;
}
.mx-datepicker.is-invalid {
    border: 1px solid #dc3545;
    border-radius: .25rem;
}
</style>