<template>
<div>
    <ViewTitleOptions title="Agregar evento" :options=options />
    <div class="card shadow col-lg-8 p-0">
        <div class="card-body">
            <form @submit.prevent="submit" novalidate>

                <div class="form-group" :class="{ 'form-group--error': $v.form.name.value.$error }">
                    <input placeholder=" " type="text" class="form-control" id="name" name="name" v-model.trim="$v.form.name.value.$model" :class="{ 'is-invalid': $v.form.name.value.$error | !form.name.isValid }">
                    <label class="form-placeholder" for="name">Nombre</label>
                    <div class="invalid-tooltip">Ingrese un nombre válido</div>
                </div>                             
                
                <div class="form-group" :class="{ 'form-group--error': $v.form.description.value.$error }">
                    <textarea placeholder=" " type="text" class="form-control" id="description" name="description" v-model.trim="$v.form.description.value.$model" :class="{ 'is-invalid': $v.form.description.value.$error | !form.description.isValid }" rows="3" />
                    <label class="form-placeholder" for="description">Descripción</label>
                    <div class="invalid-tooltip">Ingrese una descripción válida</div>
                </div>                             
                
                <div class="form-group" :class="{ 'form-group--error': $v.form.date.value.$error }">
                    <p class="ml-2 mb-2" style="font-size:smaller" for="date">Fecha</p>
                    <date-picker
                        class="w-100 form-controll"
                        v-model.trim="$v.form.date.value.$model" :class="{ 'is-invalid': $v.form.date.value.$error | !form.date.isValid }"
                        type="datetime" id="date" name="date" 
                        value-type="date"
                        format="DD/MM/YYYY  hh:mm a"
                        :placeholder="'Seleccione una fecha'"
                        :disabled-date="notBeforeToday"
                    />
                    <div v-if="$v.form.date.value.$error" class="invalid-tooltip d-inline-block">Ingrese una fecha válida</div>
                </div> 

                <div class="form-group" :class="{ 'form-group--error': $v.form.venue.value.$error }">
                    <select class="form-control" id="venue" name="venue" v-model.trim="$v.form.venue.value.$model" :class="{ 'is-invalid': $v.form.venue.value.$error | !form.venue.isValid }">
                        <option hidden disabled :value=null >Seleccione un lugar</option>
                        <option :key="venue.id" v-for="venue in venues" :value="venue">{{ venue.name }}</option>
                    </select>
                    <label class="form-placeholder" for="venue">Lugar</label>
                    <div v-if="$v.form.venue.value.$error" class="invalid-tooltip d-inline-block">Seleccione un lugar válido</div>
                </div>

                <div v-if=form.venue.value class="map-container mb-3">
                    <l-map class="map" :zoom=15 :center=mapCenter >
                        <l-tile-layer :url=mapUrl />
                        <l-marker :lat-lng=mapCenter /> 
                    </l-map>
                </div>
                
                <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
                    <span v-if="!isProcessing" >Aceptar</span>
                    <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
                <button @click="cancel" :disabled="isProcessing" type="button" class="btn btn-custom-light ml-2">
                    <span>Cancelar</span>
                </button>

            </form>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import { required } from 'vuelidate/lib/validators'
import DatePicker from "vue2-datepicker"
import { latLng } from "leaflet"
import { LMap, LTileLayer, LMarker } from "vue2-leaflet"

export default {
    name: 'NewEvent',
    components: {
        ViewTitleOptions,
        DatePicker,
        LMap,
        LTileLayer,
        LMarker
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/lugar/nuevo',
                    name: 'Lugar',
                    icon: 'plus'
                },
                {
                    id: 2,
                    link: '/evento',
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            isProcessing: false,
            venues: [],
            mapUrl: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
            form: {
                name: {
                    id: 'name',
                    value: null,
                    isValid: true
                },               
                description: {
                    id: 'description',
                    value: null,
                    isValid: true
                },
                date: {
                    id: 'date',
                    value: null,
                    isValid: true
                },                               
                venue: {
                    id: 'venue',
                    value: null,
                    isValid: true
                }                               
            }
        }
    },
    computed: {
        mapCenter: function() {
            if (this.form.venue.value)
                return latLng(this.form.venue.value.latitude, this.form.venue.value.longitude)
            else
                return latLng(0,0) 
        }
    },
    validations(){     
        return {
            form: {
                name: {
                    value: {
                        required
                    }
                },
                description: {
                    value: {
                        required
                    }
                },
                date: {
                    value: {
                        required
                    }
                },
                venue: {
                    value: {
                        required
                    }
                }
            }
        }
    },
    methods: {
        submit() {
            this.$v.$touch()
            if (this.$v.$invalid) return
            
            this.isProcessing = true               
            
            const data = new FormData()
            data.append('name', this.form.name.value)
            data.append('description', this.form.description.value)
            data.append('date', this.form.date.value.toISOString().split('.')[0]+'Z')
            data.append('venue_id', this.form.venue.value.id)
            data.append('capacity', this.form.venue.value.capacity)

            axios.post('/event/create', data)
                .then(response => {
                    this.$toast.success('creado', 'Evento')
                    this.$router.push('/evento')
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
                .finally(() => this.isProcessing = false)
        },
        cancel() {
            this.form.name.value = null            
            this.form.description.value = null
            this.form.date.value = null                     
            this.form.venue.value = null                     
            this.$v.$reset()
        },
        notBeforeToday(date) {
            return date < new Date()
        }    
    },
    created() {
        axios.get('/venue')
            .then(response => this.venues = response.data)
            .catch(error => {})
    }
}
</script>

<style scoped>

.map-container {
    height: 300px;
}

.map {
    position: relative;
}
</style>
