<template>
<div>
    <ViewTitleOptions title="Nuevo responsable" :options=options />
    <div class="card shadow col-lg-8 p-0">
        <div class="card-body">
            <form @submit.prevent="submit" class="needs-validation" novalidate>

                <!-- NOMBRE -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.first.value.$error }">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder=" " v-model.trim="$v.form.first.value.$model" :class="{ 'is-invalid': $v.form.first.value.$error | !form.first.isValid }">
                    <label class="form-placeholder" for="first_name">Nombre</label>
                    <div class="invalid-tooltip">Ingrese un nombre válido</div>
                </div>

                <!-- APELLIDO -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.last.value.$error }">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder=" " v-model.trim="$v.form.last.value.$model" :class="{ 'is-invalid': $v.form.last.value.$error | !form.last.isValid }">
                    <label class="form-placeholder" for="last_name">Apellido</label>
                    <div class="invalid-tooltip">Ingrese un apellido válido</div>
                </div>

                <!-- SELECT DE GENERO -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.sex.value.$error }">
                    <select class="form-control"  v-model.trim="$v.form.sex.value.$model" :class="{ 'is-invalid': $v.form.sex.value.$error | !form.sex.isValid }">
                        <option hidden disabled :value="null" >Seleccione un género</option>
                        <option v-for=" sex in sexs" :key="sex.id" :value="sex.id">
                        {{ sex.name }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="sex">Género</label>
                    <div class="invalid-tooltip">Ingrese un genero</div>
                </div>

                <!-- FECHA DE NACIMIENTO -->              
                <div class="form-group" :class="{ 'form-group--error': $v.form.birth.value.$error }">
                    <input type="date" class="form-control" id="birth" name="birth" placeholder=" " v-model.trim="$v.form.birth.value.$model" :class="{ 'is-invalid': $v.form.birth.value.$error | !form.birth.isValid }">
                    <label class="form-placeholder" for="birth">Fecha de nacimiento</label>
                    <div class="invalid-tooltip">Ingrese una Fecha de Nacimiento válida</div>
                </div>

                <!-- SELECT DE TIPO DE DOC -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.dnitype.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.dnitype.value.$model" :class="{ 'is-invalid': $v.form.dnitype.value.$error | !form.dnitype.isValid }">
                        <option hidden disabled :value="null" >Seleccione un tipo de documento</option>
                        <option v-for=" dnitype in dnitypes" :key="dnitype.id" :value="dnitype.id">
                        {{ dnitype.nombre }}
                        </option>
                    </select>    
                    <label class="form-placeholder" for="dnitype">Tipo de documento:</label>                
                    <div class="invalid-tooltip">Seleccione un tipo de documento</div>

                </div>    

                <!-- DNI -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.dni.value.$error }">
                    <input type="text" class="form-control" id="dni" name="dni" placeholder=" " v-model.trim="$v.form.dni.value.$model" :class="{ 'is-invalid': $v.form.dni.value.$error | !form.dni.isValid }">
                    <label class="form-placeholder" for="dni">Número de documento</label>
                    <div class="invalid-tooltip">Ingrese un numero de documento válido</div>
                </div>   

                <!-- TELEFONO -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.phone.value.$error }">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder=" " v-model.trim="$v.form.phone.value.$model" :class="{ 'is-invalid': $v.form.phone.value.$error | !form.phone.isValid }">
                    <label class="form-placeholder" for="phone">Teléfono</label>
                    <div class="invalid-tooltip">Ingrese un teléfono válido</div>
                </div>

                <!-- SELECT DE lOCALIDAD ACTUAL-->
                <div class="form-group" :class="{ 'form-group--error': $v.form.city.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.city.value.$model" :class="{ 'is-invalid': $v.form.city.value.$error | !form.city.isValid }">
                        <option hidden disabled :value="null" >Seleccione una localidad</option>
                        <option v-for=" city2 in citys" v-bind:key="city2.id" :value="city2.id">
                        {{ city2.nombre }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="city">Lugar actual</label>
                    <div class="invalid-tooltip">Seleccione una localidad</div>
                </div>               

                <!-- DIRECCION -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.address.value.$error }">
                    <input type="text" class="form-control" id="address" name="address" placeholder=" " v-model.trim="$v.form.address.value.$model" :class="{ 'is-invalid': $v.form.address.value.$error | !form.address.isValid }">
                    <label class="form-placeholder" for="address">Dirección</label>
                    <div class="invalid-tooltip">Ingrese una direccion válida</div>
                </div>                          

                <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
                    <span v-if="!isProcessing" >Aceptar</span>
                    <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
                <button @click="cancel" :disabled="isProcessing" type="button" class="btn btn-custom-light ml-2">
                    <span>Cancelar</span>
                </button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import { required, minLength } from 'vuelidate/lib/validators'

export default {
    name: 'NewGuardian',
    components: {
        ViewTitleOptions
    },
    data() {
        axios.get('https://api-referencias.proyecto2019.linti.unlp.edu.ar/tipo-documento')
                .then(response => {
                    this.dnitypes = response.data
        })
        axios.get('https://api-referencias.proyecto2019.linti.unlp.edu.ar/localidad')
                .then(response => {
                    this.citys = response.data
        })
        
        axios.get('/gender')
                .then(response => {
                    this.sexs = response.data
        })
        return {
            options: [
                {
                    id: 1,
                    link: '/alumno/' + this.$route.params.id,
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],           
            citys: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            dnitypes: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            sexs: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            isProcessing: false,
            form: {
                first: {
                    id: 'first_name',
                    value: null,
                    isValid: true
                },
                last: {
                    id: 'last_name',
                    value: null,
                    isValid: true
                },
                birth: {
                    id: 'birth',
                    value: null,
                    isValid: true
                },              
                city: {
                    id: 'city',
                    value: null,
                    isValid: true
                },
                address: {
                    id: 'address',
                    value: null,
                    isValid: true
                },
                dnitype: {
                    id: 'dnitype',
                    value: null,
                    isValid: true
                },
                dni: {
                    id: 'dni',
                    value: null,
                    isValid: true
                },                
                phone: {
                    id: 'phone',
                    value: null,
                    isValid: true
                },
                sex: {
                    id: 'sex',
                    value: null,
                    isValid: true
                },                         
                
            }
        }            
    },
    validations(){     
        return {
            form: {
                first: {
                    value: {
                        required
                    }
                },
                last: {
                    value: {
                        required
                    }
                },
                address: {
                    value: {
                        required
                    }
                },
                birth: {
                    value: {
                        required
                    }
                },                
                city: {
                    value: {
                        required
                    }
                },
                dnitype: {
                    value: {
                        required
                    }
                },
                dni: {
                    value: {
                        required
                    }
                },
                phone: {
                    value: {
                        required
                    }
                },
                sex: {
                    value: {
                        required
                    }
                }
            }
        }
        
    },   
 
    methods: {
        submit() {
            this.$v.$touch()
            if (this.$v.$invalid) return
            
            this.isProcessing = true
            
            const formData = new FormData()
            formData.append('first_name', this.form.first.value)
            formData.append('last_name', this.form.last.value)
            formData.append('dni', this.form.dni.value)
            formData.append('dnitype', this.form.dnitype.value)
            formData.append('address', this.form.address.value)
            formData.append('city', this.form.city.value)
            formData.append('phone', this.form.phone.value)
            formData.append('birth', this.form.birth.value)
            formData.append('sex', this.form.sex.value)
            formData.append('student', this.$route.params.id)
            

            axios.post('/guardian/new', formData)
                .then(response => {
                    for (const value of Object.values(this.form)) {
                        value.isValid = true
                    }
                    this.$toast.error('creado', 'Responsable')
                    this.$router.push('/alumno/' + this.$route.params.id)
                })
                .catch(error => {
                    if (error.response.status == 400) {
                        for (const value of Object.values(this.form)) {
                            if (error.response.data.includes(value.id))
                                value.isValid = false
                        }
                    }
                    if (error.response.status == 501) {
                        const options = {
                            title: 'Responsable ya existe',
                            description: 'El numero de documento que proporcionaste ya se encuentra en el sistema asociada a un responsable.'
                        }
                        this.$router.push({ name: 'feedback', params: options })
                    }
                })
                .finally(() => {
                    this.isProcessing = false
                })

        },
        cancel() {
            this.form.first.value = null
            this.form.last.value = null
            this.form.city.value = null
            this.form.birth.value = null
            this.form.address.value = null
            this.form.phone.value = null
            this.form.sex.value = null
            this.form.dni.value = null
            this.form.dnitype.value = null            
            
            this.$v.$reset()
        },
        
        
},
 
}
</script>

<style scoped>
.invalid-tooltip {
    position: inherit;
}
</style>