<template>
  <div>
    <ViewTitleOptions title="Nuevo Instrumento" :options="options" />
    <div class="card shadow col-lg-8 p-0">
      <div class="card-body">
        <form @submit.prevent="submit" class="needs-validation" novalidate>
          <!-- Instrument Name -->
          <div class="form-row my-2">
            <div class="form-group col" :class="{ 'form-group--error': $v.form.name.value.$error }">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder=" "
                v-model.trim="$v.form.name.value.$model"
                :class="{ 'is-invalid': $v.form.name.value.$error || !form.name.isValid }"
              />
              <label class="form-placeholder" for="name">Nombre</label>
              <div class="invalid-tooltip">Ingrese un nombre válido</div>
            </div>
          </div>

          <!-- Instrument Number -->
          <div class="form-row my-2">
            <div class="form-group col" :class="{ 'form-group--error': $v.form.number.value.$error }">
              <input
                type="number"
                class="form-control"
                id="number"
                name="number"
                placeholder=" "
                v-model.trim="$v.form.number.value.$model"
                :class="{ 'is-invalid': $v.form.number.value.$error || !form.number.isValid }"
              />
              <label class="form-placeholder" for="number">Número de inventario</label>
              <div class="invalid-tooltip">Ingrese un número válido</div>
            </div>
          </div>

          <!-- Instrument Type -->
          <div class="form-row mt-4">
            <div class="form-group col" :class="{ 'form-group--error': $v.form.type.value.$error }">
              <select
                class="form-control w-100"
                name="ins_type"
                id="ins_type"
                :class="{ 'is-invalid' : $v.form.type.value.$error || !form.type.isValid }"
                v-model.trim="$v.form.type.value.$model"
              >
                <option hidden disabled :value="null">Seleccione un tipo de instrumento</option>
                <option v-for="type in types" :key="type.id" :value="type.id">{{ type.name }}</option>
              </select>
              <label class="form-placeholder" for="ins_type">Tipo</label>
              <div class="invalid-tooltip">Seleccione un tipo de instrumento válido</div>
            </div>
          </div>

          <!-- Instrument Photo -->
          <div class="form-row my-2">
            <div class="form-group col">
              <label for="photo">Foto:</label>
              <vue-dropzone
                ref="instrument_dropzone"
                id="photo"
                :options="dropzoneOptions"
                :useCustomSlot="true"
                @vdropzone-success="correctPhoto"
                @vdropzone-error="errorPhoto"
                @vdropzone-removed-file="removePhoto"
              >
                <div class="dropzone-custom-content">
                  <h3 class="dropzone-custom-title">Seleccione o arrastre una foto del instrumento</h3>
                  <div class="subtitle">Archivos aceptados: .png, .jpg y .jpeg</div>
                </div>
              </vue-dropzone>
              <div
                v-if="!form.photo.isValid"
                class="invalid-tooltip d-inline-block mt-3"
              >{{form.photo.message}}</div>
            </div>
          </div>

          <!-- Submit & cancel buttons -->
          <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
            <span v-if="!isProcessing">Aceptar</span>
            <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
          </button>
          <button
            @click="cancel"
            :disabled="isProcessing"
            type="button"
            class="btn btn-custom-light ml-2"
          >
            <span>Cancelar</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ViewTitleOptions from "../components/ViewTitleOptions";
import { required, maxLength } from "vuelidate/lib/validators";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
  name: "NewInstrument",
  components: {
    ViewTitleOptions,
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/instrumento",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 230,
        thumbnailHeight: 250,
        maxFilesize: 2,
        acceptedFiles: ".png,.jpg,.jpeg",
        addRemoveLinks: true,
        dictRemoveFile: "Eliminar imagen",
        dictFileTooBig:
          "El tamaño del archivo es muy grande ({{filesize}} MB). La capacidad maxima es de 2MB",
        dictInvalidFileType:
          "El tipo de archivo seleccionado es incorrecto. Asegurese de seleccionar una imagen .png, .jpg, .jpeg",
        accept: function(file, done) {
          var ext = file.name.split(".")[1]; // get extension from file name
          if (ext == "png" || ext == "jpg" || ext == "jpeg") {
            var files = this.getAcceptedFiles();
            if (files.length > 0) {
              this.removeFile(files[0]);
            }
            done();
          }
        }
      },
      isProcessing: false,
      types: [],
      form: {
        name: {
          id: "name",
          value: null,
          isValid: true
        },
        number: {
          id: "number",
          value: null,
          isValid: true
        },
        type: {
          id: "ins_type",
          value: null,
          isValid: true
        },
        photo: {
          id: "photo",
          value: null,
          isValid: true,
          message: ""
        }
      }
    };
  },
  validations() {
    return {
      form: {
        name: {
          value: {
            required,
            maxLength: maxLength(20)
          }
        },
        number: {
          value: {
            required,
            maxLength: maxLength(20)
          }
        },
        type: {
          value: {
            required
          }
        }
      }
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      const formData = new FormData();
      formData.append("name", this.form.name.value);
      formData.append("number", this.form.number.value);
      formData.append("ins_type", this.form.type.value);
      if (this.form.photo.value) {
        formData.append("photo", this.form.photo.value);
        formData.append("photo_size", this.form.photo.value.size);
      }
      axios
        .post("/instrument/new", formData)
        .then(response => {
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          this.$toast.success("creado", "Instrumento");
          this.$router.push("/instrumento");
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)) value.isValid = false;
            }
            this.$toast.error("no pudo crearse", "Instrumento");
          }
          else{
            this.$toast.error('Inténtelo más tarde', 'Error')
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    },
    cancel() {
      this.form.name.value = null;
      this.form.number.value = null;
      this.form.type.value = null;
      this.form.photo.value = null;
      this.$refs.instrument_dropzone.removeAllFiles();
      this.$v.$reset();
    },
    correctPhoto(file) {
      this.form.photo.value = file;
      this.form.photo.isValid = true;
    },
    errorPhoto(file, msg) {
      this.$refs.instrument_dropzone.removeFile(file);
      this.form.photo.isValid = false;
      this.form.photo.message = msg;
    },
    removePhoto(file) {
      if (this.form.photo.value) {
        if (file.name == this.form.photo.value.name) {
          this.form.photo.value = null;
        }
      }
    }
  },
  created() {
    axios
      .get("/instrument_type")
      .then(response => {
        this.types = response.data;
      })
      .catch(error => {});
  }
};
</script>

<style scoped>
.invalid-tooltip {
  position: inherit;
}
</style>