<template>
  <form @submit.prevent="submit" class="needs-validation" novalidate>
    <!-- Instrument Type Name -->
    <div class="form-row my-1 mt-3">
      <div
        class="form-group col"
        :class="{ 'form-group--error': $v.form.name.value.$error || !form.name.isValid }"
      >
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder=" "
          v-model.trim="$v.form.name.value.$model"
          :class="{ 'is-invalid': $v.form.name.value.$error || !form.name.isValid }"
        />
        <label class="form-placeholder" for="name">Nombre</label>
        <div class="invalid-tooltip">Ingrese un nombre válido</div>
      </div>
    </div>

    <!-- Submit & cancel buttons -->
    <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
      <span v-if="!isProcessing">Aceptar</span>
      <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
    </button>
    <button
      @click="cancel"
      :disabled="isProcessing"
      type="button"
      class="btn btn-custom-light ml-2"
    >
      <span>Cancelar</span>
    </button>
  </form>
</template>

<script>
import axios from "axios";
import { required } from "vuelidate/lib/validators";
export default {
  name: "NewInstrumentType",
  props: ["types"],
  data() {
    return {
      isProcessing: false,
      form: {
        name: {
          id: "name",
          value: null,
          isValid: true
        }
      }
    };
  },
  validations() {
    return {
      form: {
        name: {
          value: {
            required
          }
        }
      }
    };
  },
  methods: {
    submit() {
      this.$emit("processing");
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      const formData = new FormData();
      formData.append("name", this.form.name.value);
      axios
        .post("/instrument_type/new", formData)
        .then(response => {
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          var newType = {
            id: response.data,
            name: this.form.name.value
          };
          this.$emit("ok")
          this.$toast.success("de instrumento creado", "Tipo");
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)) {
                value.isValid = false;
              } else {
                value.isValid = true;
              }
            }
            this.$toast.error("de instrumento no pudo crearse", "Tipo");
          }
          else{
            this.$toast.error('Inténtelo más tarde', 'Error')
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    },
    cancel() {
      this.form.name.value = null;
      for (const value of Object.values(this.form)) {
        value.isValid = true;
      }
      this.$v.$reset();
    }
  }
};
</script>

<style scoped>
.invalid-tooltip {
  position: inherit;
}
</style>