<template>
    <div>
    <ViewTitleOptions title="Nuevo Prestamo" :options=options />
    <div class="workshop-container">
      <form class='form-signin' @submit.prevent="submit">
                <div class="form-group" :class="{ 'form-group--error': $v.form.studentName.value.$error }">
                    <input placeholder=" " type="text" class="form-control" id="studentName" name="name" v-model.trim="$v.form.studentName.value.$model" :class="{ 'is-invalid': $v.form.studentName.value.$error | !form.studentName.isValid }">
                    <label class="form-placeholder" for="studentName">Nombre Estudiante</label>
                </div>  
                
                <div class="form-group" :class="{ 'form-group--error': $v.form.inventoryName.value.$error }">
                    <input placeholder=" " type="text" class="form-control" id="inventoryName" name="name" v-model.trim="$v.form.inventoryName.value.$model" :class="{ 'is-invalid': $v.form.inventoryName.value.$error | !form.inventoryName.isValid }">
                    <label class="form-placeholder" for="inventoryName">Nombre Instrumento</label>
                </div>                           
          <!-- Start -->
          <div class="form-group">
            <p class="mb-2" for="start">Inicio prestamo</p>
            <date-picker
              v-model="$v.form.start.value.$model"
              type="date"
              class="w-100"
              id="start"
              placeholder="Seleccione la fecha de inicio"
              value-type="DD/MM/YYYY"
              format="DD-MM-YYYY"
              :disabled-date="notBeforeToday"
              :class="{ 'is-invalid': $v.form.start.value.$error || !form.start.isValid }"
            />
            <div v-if="$v.form.start.value.$error || !form.start.isValid" class="invalid-feedback d-block">Ingrese una fecha de inicio válida</div>
          </div>

          <!-- End -->
          <div class="form-group">
            <p class="mb-2" for="end">Fin prestamo</p>
            <date-picker
              v-model="$v.form.end.value.$model"
              type="date"
              class="w-100"
              id="end"
              placeholder="Seleccione la fecha de fin"
              value-type="DD/MM/YYYY"
              format="DD-MM-YYYY"
              :disabled-date="notBeforeToday"
              :class="{ 'is-invalid': $v.form.end.value.$error || !form.end.isValid }"
            />
            <div v-if="$v.form.end.value.$error || !form.end.isValid" class="invalid-feedback d-block">Ingrese una fecha de finalización válida</div>
          </div>
          <button :disabled="isProcessing" type="submit" class="btn btn-lg btn-custom-light btn-block">
              <span v-if="!isProcessing" >Crear prestamo</span>
              <span v-if="isProcessing" class="spinner-border" role="status"></span>
          </button>
      </form>
      <SearchableList @addStudent="addStudent" ref="searchableList" :listName=studentList :listTitle=studentTitle :columns=studentColumns :endpoint=studentEndpoint :options=studentQueryOptions class="mt-4" /> 
    <SearchableList @addInventory="addInventory" ref="searchableList" :listName=inventoryList :listTitle=inventoryTitle :columns=inventoryColumns :endpoint=inventoryEndpoint :options=inventoryQueryOptions clasS="mt-4" />
    </div>
    </div>
</template>

<script>
import SearchableList from '../components/SearchableList'
import ViewTitleOptions from '../components/ViewTitleOptions'
import axios from 'axios'
import { mapMutations } from 'vuex'
import DatePicker from "vue2-datepicker"
import { latLng } from "leaflet"
import { LMap, LTileLayer, LMarker } from "vue2-leaflet"
import { required } from 'vuelidate/lib/validators'
import InventoryMiniList from '../components/SearchableListHeader/InventoryMiniList'
import StudentMiniList from '../components/SearchableListHeader/StudentMiniList'




export default {
    name: 'NewLoan',
    components: {
        ViewTitleOptions,
        SearchableList,
        DatePicker,
        LMap,
        LTileLayer,
        LMarker
    },
    data() {
      return {
        options: [
                {
                    id: 1,
                    link: '/prestamo',
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            newloan: null,
            studentList: StudentMiniList,
            inventoryList: InventoryMiniList,
            studentTitle: 'Estudiantes',
            inventoryTitle: 'Inventario',
            studentColumns: ['nombre'],
            inventoryColumns: ['nombre'],
            studentQueryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'first_name',
                    'last_name',
                    'level.name'
                ]
            },
            inventoryQueryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'name',

                ]
            },
            form: {
                studentName: {
                    id: 'studentName',
                    value: null,
                    isValid: true
                },
                studentId: {
                    id: 'studentId',
                    value: null,
                    isValid: true
                },
                inventoryName: {
                    id: 'inventoryName',
                    value: null,
                    isValid: true
                }, 
                inventoryId: {
                    id: 'inventoryId',
                    value: null,
                    isValid: true
                },             
        start: {
          id: "start",
          value: null,
          isValid: true
        },
        end: {
          id: "end",
          value: null,
          isValid: true
        },                              
                         
            },
        isProcessing: false,
      }
    },
    computed: {
        studentEndpoint: function() {
            return "/student"
        },
        inventoryEndpoint: function() {
            return "/instruments"
        }
    },
    validations(){     
        return {
            form: {
                studentName: {
                    value: {
                        required
                    }
                },
                inventoryName: {
                    value: {
                        required
                    }
                },
                start: {
                    value: {
                        required
                    }
                },
                end: {
                    value: {
                        required
                    }
                },


            }
        }
    },
    methods: {
      submit() {
        this.isProcessing = true
        this.form.invalid = false

        const formData = new FormData()
        formData.append('id_student', this.form.studentId.value);
        formData.append('id_inventory_item', this.form.inventoryId.value);
        formData.append('started_at', this.form.start.value);
        formData.append('ended_at', this.form.end.value);

        axios.post('/newLoan', formData)
          .then(response => {
            this.$router.push('/prestamo')
          })
          .catch(error => {
            if (error.response.status == 400) {
              this.form.invalid = true
            }
          })
          .finally(() => {
            this.isProcessing = false
          })
      },
          notBeforeToday(date) {
      return date < this.today;
    },
            addStudent(name,id) {
                this.form.studentName.value = name;
                this.form.studentId.value = id;
        },
            addInventory(name,id) {
                console.log("llegue aca?");
                this.form.inventoryName.value = name;
                this.form.inventoryId.value = id;
        } 
    }
}
</script>

<style scoped>
.workshop-container {
  width: 50%;
  height: 100%;
  align-items: left;
  justify-content: left;
}

.card {
  border-radius: 2em;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: left; 
  justify-content: left;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  padding-bottom: 5px
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn{
    padding-top: 5px;
    margin-top: 5px;
    width: 50%;
}

.d-block .d-none{
  padding-bottom: 5px;
  padding-top: 5px;
}

</style>







