<template>
  <div>
    <ViewTitleOptions title="Agregar ciclo lectivo" :options="options" />
    <div class="card shadow col-lg-8 p-0">
      <div class="card-body">
        <form @submit.prevent="submit" class="needs-validation" novalidate>

          <!-- Start -->
          <div class="form-group">
            <p class="mb-2" for="start">Inicio del ciclo:</p>
            <date-picker
              v-model="$v.form.start.value.$model"
              type="date"
              class="w-100"
              id="start"
              placeholder="Seleccione la fecha de inicio"
              value-type="DD/MM/YYYY"
              format="DD-MM-YYYY"
              :disabled-date="notBeforeToday"
              :class="{ 'is-invalid': $v.form.start.value.$error || !form.start.isValid }"
            />
            <div v-if="$v.form.start.value.$error || !form.start.isValid" class="invalid-tooltip d-inline-block">Ingrese una fecha de inicio válida</div>
          </div>

          <!-- End -->
          <div class="form-group">
            <p class="mb-2" for="end">Fin del ciclo:</p>
            <date-picker
              v-model="$v.form.end.value.$model"
              type="date"
              class="w-100"
              id="end"
              placeholder="Seleccione la fecha de fin"
              value-type="DD/MM/YYYY"
              format="DD-MM-YYYY"
              :disabled-date="notBeforeToday"
              :class="{ 'is-invalid': $v.form.end.value.$error || !form.end.isValid }"
            />
            <div v-if="$v.form.end.value.$error || !form.end.isValid" class="invalid-tooltip d-inline-block">Ingrese una fecha de finalización válida</div>
          </div>

          <!-- Semesters Radios -->
          <div class="form-group">
            <p class="mb-2">Seleccione un semestre:</p>
            <div class="form-check">
              <input
                v-model="$v.form.semester.value.$model"
                class="form-check-input"
                type="radio"
                name="semester"
                id="semester"
                value="1"
              />
              <label class="form-check-label" for="semester1">Semestre 1</label>
            </div>
            <div class="form-check">
              <input
                v-model="$v.form.semester.value.$model"
                class="form-check-input"
                type="radio"
                name="semester"
                id="semester2"
                value="2"
              />
              <label class="form-check-label" for="semester2">Semestre 2</label>
            </div>
            <div v-if="$v.form.semester.value.$error || !form.semester.isValid" class="invalid-tooltip d-inline-block">Seleccione un semestre</div>
          </div>

          <!-- Submit & cancel buttons -->
          <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
            <span v-if="!isProcessing">Aceptar</span>
            <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
          </button>
          <button
            @click="cancel"
            :disabled="isProcessing"
            type="button"
            class="btn btn-custom-light ml-2"
          >
            <span>Cancelar</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ViewTitleOptions from "../components/ViewTitleOptions";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/es";
import { required, maxValue } from "vuelidate/lib/validators";

export default {
  name: "NewPeriod",
  components: {
    ViewTitleOptions,
    DatePicker
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/ciclo",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      isProcessing: false,
      today: new Date(),
      form: {
        start: {
          id: "start",
          value: null,
          isValid: true
        },
        end: {
          id: "end",
          value: null,
          isValid: true
        },
        semester: {
          id: "semester",
          value: null,
          isValid: true
        }
      }
    };
  },
  validations() {
    return {
      form: {
        start: {
          value: {
            required,
            maxValue: value => {
              if (
                value != "" &&
                value != null &&
                this.form.end.value != "" &&
                this.form.end.value != null
              ) {
                let str1 = value.split("/");
                let str2 = this.form.end.value.split("/");
                let date1 = new Date(str1[2], parseInt(str1[1]) - 1, str1[0]);
                let date2 = new Date(str2[2], parseInt(str2[1]) - 1, str2[0]);
                return date1 < date2;
              } else {
                return true;
              }
            }
          }
        },
        end: {
          value: {
            required,
            maxValue: value => {
              if (
                value != "" &&
                value != null &&
                this.form.start.value != "" &&
                this.form.start.value != null
              ) {
                let str1 = value.split("/");
                let str2 = this.form.start.value.split("/");
                let date1 = new Date(str1[2], parseInt(str1[1]) - 1, str1[0]);
                let date2 = new Date(str2[2], parseInt(str2[1]) - 1, str2[0]);
                return date1 > date2;
              } else {
                return true;
              }
            }
          }
        },
        semester: {
          value: {
            required
          }
        }
      }
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      const formData = new FormData();
      formData.append("start", this.form.start.value);
      formData.append("end", this.form.end.value);
      formData.append("semester", this.form.semester.value);
      axios
        .post("/period/new", formData)
        .then(response => {
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          this.$toast.success('creado', 'Ciclo lectivo')
          this.$router.push("/ciclo");
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)){
                value.isValid = false;
              } 
              else{
                value.isValid = true;
              }
            }
            this.$toast.error('no pudo crearse', 'Ciclo lectivo')
          }
          else{
            this.$toast.error('Inténtelo más tarde', 'Error')
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    },
    cancel() {
      this.form.start.value = null;
      this.form.end.value = null;
      this.form.semester.value = null;
      this.$v.$reset();
    },
    notBeforeToday(date) {
      return date < this.today;
    }
  }
};
</script>

<style scoped>
.invalid-tooltip {
  position: inherit;
}
.mx-datepicker.is-invalid {
    border: 1px solid #dc3545;
    border-radius: .25rem;
}
</style>