<template>
<div>
    <ViewTitleOptions title="Nuevo Alumno" :options=options />
    <div class="card shadow col-lg-8 p-0">
        <div class="card-body">
            <form @submit.prevent="submit" class="needs-validation" novalidate>

                <!-- NOMBRE -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.first.value.$error }">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder=" " v-model.trim="$v.form.first.value.$model" :class="{ 'is-invalid': $v.form.first.value.$error | !form.first.isValid }">
                    <label class="form-placeholder" for="first_name">Nombre</label>
                    <div class="invalid-tooltip">Ingrese un nombre válido</div>
                </div>

                <!-- APELLIDO -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.last.value.$error }">
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder=" " v-model.trim="$v.form.last.value.$model" :class="{ 'is-invalid': $v.form.last.value.$error | !form.last.isValid }">
                    <label class="form-placeholder" for="last_name">Apellido</label>
                    <div class="invalid-tooltip">Ingrese un apellido válido</div>
                </div>

                <!-- SELECT DE GENERO -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.sex.value.$error }">
                    <select class="form-control"  v-model.trim="$v.form.sex.value.$model" :class="{ 'is-invalid': $v.form.sex.value.$error | !form.sex.isValid }">
                        <option hidden disabled :value="null" >Seleccione un género</option>
                        <option v-for=" sex in sexs" :key="sex.id" :value="sex.id">
                        {{ sex.name }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="sex">Género</label>
                    <div class="invalid-tooltip">Ingrese un genero</div>
                </div>

                <!-- FECHA DE NACIMIENTO -->              
                <div class="form-group" :class="{ 'form-group--error': $v.form.birth.value.$error }">
                    <input type="date" class="form-control" id="birth" name="birth" placeholder=" " v-model.trim="$v.form.birth.value.$model" :class="{ 'is-invalid': $v.form.birth.value.$error | !form.birth.isValid }">
                    <label class="form-placeholder" for="birth">Fecha de nacimiento</label>
                    <div class="invalid-tooltip">Ingrese una Fecha de Nacimiento válida</div>
                </div>

                <!-- SELECT DE TIPO DE DOC -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.dnitype.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.dnitype.value.$model" :class="{ 'is-invalid': $v.form.dnitype.value.$error | !form.dnitype.isValid }">
                        <option hidden disabled :value="null" >Seleccione un tipo de documento</option>
                        <option v-for=" dnitype in dnitypes" :key="dnitype.id" :value="dnitype.id">
                        {{ dnitype.nombre }}
                        </option>
                    </select>    
                    <label class="form-placeholder" for="dnitype">Tipo de documento</label>                
                    <div class="invalid-tooltip">Seleccione un tipo de documento</div>

                </div>    

                <!-- DNI -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.dni.value.$error }">
                    <input type="text" class="form-control" id="dni" name="dni" placeholder=" " v-model.trim="$v.form.dni.value.$model" :class="{ 'is-invalid': $v.form.dni.value.$error | !form.dni.isValid }">
                    <label class="form-placeholder" for="dni">Numero de documento</label>
                    <div class="invalid-tooltip">Ingrese un numero de documento válido</div>
                </div>   

                <!-- TELEFONO -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.phone.value.$error }">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder=" " v-model.trim="$v.form.phone.value.$model" :class="{ 'is-invalid': $v.form.phone.value.$error | !form.phone.isValid }">
                    <label class="form-placeholder" for="phone">Teléfono</label>
                    <div class="invalid-tooltip">Ingrese un teléfono válido</div>
                </div>

                <!-- SELECT DE lOCALIDAD-->
                <div class="form-group" :class="{ 'form-group--error': $v.form.birthplace.value.$error }">               
                    <select class="form-control" v-model.trim="$v.form.birthplace.value.$model" :class="{ 'is-invalid': $v.form.birthplace.value.$error | !form.birthplace.isValid }">
                        <option hidden disabled :value="null" >Seleccione una localidad</option>
                        <option v-for=" city in citys" :key="city.id" :value="city.id">
                        {{ city.nombre }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="bitrhplace">Lugar de nacimiento</label> 
                    <div class="invalid-tooltip">Seleccione una localidad</div>
                </div> 

                <!-- SELECT DE lOCALIDAD ACTUAL-->
                <div class="form-group" :class="{ 'form-group--error': $v.form.city.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.city.value.$model" :class="{ 'is-invalid': $v.form.city.value.$error | !form.city.isValid }">
                        <option hidden disabled :value="null" >Seleccione una localidad</option>
                        <option v-for=" city2 in citys" v-bind:key="city2.id" :value="city2.id">
                        {{ city2.nombre }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="city">Lugar actual</label>
                    <div class="invalid-tooltip">Seleccione una localidad</div>
                </div> 

                <!-- SELECT DE BARRIOS -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.neighborhood.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.neighborhood.value.$model" :class="{ 'is-invalid': $v.form.neighborhood.value.$error | !form.neighborhood.isValid }">
                        <option hidden disabled :value="null" >Seleccione un barrio</option>
                        <option v-for=" neighborhood in neighborhoods" :key="neighborhood.id" :value="neighborhood.id">
                        {{ neighborhood.name }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="neighborhood">Barrio</label>
                    <div class="invalid-tooltip">Seleccione un barrio</div>
                </div>                

                <!-- DIRECCION -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.address.value.$error }">
                    <input type="text" class="form-control" id="address" name="address" placeholder=" " v-model.trim="$v.form.address.value.$model" :class="{ 'is-invalid': $v.form.address.value.$error | !form.address.isValid }">
                    <label class="form-placeholder" for="address">Dirección</label>
                    <div class="invalid-tooltip">Ingrese una direccion válida</div>
                </div>                

               <!-- SELECT DE ESCUELA -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.school.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.school.value.$model" :class="{ 'is-invalid': $v.form.school.value.$error | !form.school.isValid }">
                        <option hidden disabled :value="null" >Seleccione una escuela</option>
                        <option v-for=" school in schools" :key="school.id" :value="school.id">
                        {{ school.name }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="bitrhplace">Escuela</label>
                    <div class="invalid-tooltip">Seleccione una escuela</div>
                </div>

                <!-- SELECT DE NIVEL -->
                <div class="form-group" :class="{ 'form-group--error': $v.form.level.value.$error }">
                    <select class="form-control" v-model.trim="$v.form.level.value.$model" :class="{ 'is-invalid': $v.form.level.value.$error | !form.level.isValid }">
                        <option hidden disabled :value="null" >Seleccione un nivel</option>
                        <option v-for=" level in levels" :key="level.id" :value="level.id">
                        {{ level.name }}
                        </option>
                    </select>
                    <label class="form-placeholder" for="bitrhplace">Nivel</label>
                    <div class="invalid-tooltip">Seleccione un nivel</div>
                </div>                      

                <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
                    <span v-if="!isProcessing" >Aceptar</span>
                    <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
                <button @click="cancel" :disabled="isProcessing" type="button" class="btn btn-custom-light ml-2">
                    <span>Cancelar</span>
                </button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import { required, minLength } from 'vuelidate/lib/validators'

export default {
    name: 'NewStudent',
    components: {
        ViewTitleOptions
    },
    data() {
        axios.get('https://api-referencias.proyecto2019.linti.unlp.edu.ar/tipo-documento')
                .then(response => {
                    this.dnitypes = response.data
        })
        axios.get('https://api-referencias.proyecto2019.linti.unlp.edu.ar/localidad')
                .then(response => {
                    this.citys = response.data
        })
        axios.get('/neighborhood')
                .then(response => {
                    this.neighborhoods = response.data
        })
        axios.get('/school')
                .then(response => {
                    this.schools = response.data
        })
        axios.get('/level')
                .then(response => {
                    this.levels = response.data
        })
        axios.get('/gender')
                .then(response => {
                    this.sexs = response.data
        })
        return {
            options: [
                {
                    id: 1,
                    link: '/alumno',
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],           
            schools: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            levels: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            neighborhoods: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            citys: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            dnitypes: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            sexs: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            isProcessing: false,
            form: {
                first: {
                    id: 'first_name',
                    value: null,
                    isValid: true
                },
                last: {
                    id: 'last_name',
                    value: null,
                    isValid: true
                },
                birthplace: {
                    id: 'birthplace',
                    value: null,
                    isValid: true
                },              
                city: {
                    id: 'city',
                    value: null,
                    isValid: true
                },
                address: {
                    id: 'address',
                    value: null,
                    isValid: true
                },
                dnitype: {
                    id: 'dnitype',
                    value: null,
                    isValid: true
                },
                dni: {
                    id: 'dni',
                    value: null,
                    isValid: true
                },
                birth: {
                    id: 'birth',
                    value: null,
                    isValid: true
                },
                phone: {
                    id: 'phone',
                    value: null,
                    isValid: true
                },
                school: {
                    id: 'school',
                    value: null,
                    isValid: true
                },
                neighborhood: {
                    id: 'neighborhood',
                    value: null,
                    isValid: true
                },
                level: {
                    id: 'level',
                    value: null,
                    isValid: true
                },
                sex: {
                    id: 'sex',
                    value: null,
                    isValid: true
                }         
                
            }
        }            
    },
    validations(){     
        return {
            form: {
                first: {
                    value: {
                        required
                    }
                },
                last: {
                    value: {
                        required
                    }
                },
                address: {
                    value: {
                        required
                    }
                },
                birth: {
                    value: {
                        required
                    }
                },
                birthplace: {
                    value: {
                        required
                    }
                },
                city: {
                    value: {
                        required
                    }
                },
                dnitype: {
                    value: {
                        required
                    }
                },
                dni: {
                    value: {
                        required
                    }
                },
                phone: {
                    value: {
                        required
                    }
                },
                neighborhood: {
                    value: {
                        required
                    }
                },
                school: {
                    value: {
                        required
                    }
                },
                level: {
                    value: {
                        required
                    }
                },
                sex: {
                    value: {
                        required
                    }
                }
            }
        }
        
    },   
 
    methods: {
        submit() {
            this.$v.$touch()
            if (this.$v.$invalid) return
            
            this.isProcessing = true
            
            const formData = new FormData()
            formData.append('first_name', this.form.first.value)
            formData.append('last_name', this.form.last.value)
            formData.append('dni', this.form.dni.value)
            formData.append('dnitype', this.form.dnitype.value)
            formData.append('address', this.form.address.value)
            formData.append('city', this.form.city.value)
            formData.append('birthplace', this.form.birthplace.value)
            formData.append('phone', this.form.phone.value)
            formData.append('birth', this.form.birth.value)
            formData.append('level', this.form.level.value)
            formData.append('school', this.form.school.value)
            formData.append('sex', this.form.sex.value)
            formData.append('neighborhood', this.form.neighborhood.value)           
            

            axios.post('/student/new', formData)
                .then(response => {
                    for (const value of Object.values(this.form)) {
                        value.isValid = true
                    }
                    this.$toast.error('creado', 'Alumno')
                    this.$router.push('/alumno')
                })
                .catch(error => {
                    if (error.response.status == 400) {
                        for (const value of Object.values(this.form)) {
                            if (error.response.data.includes(value.id))
                                value.isValid = false
                        }
                    }
                    if (error.response.status == 501) {
                        const options = {
                            title: 'Estudiante ya existe',
                            description: 'El numero de documento que proporcionaste ya se encuentra en el sistema asociada a un alumno.'
                        }
                        this.$router.push({ name: 'feedback', params: options })
                    }
                })
                .finally(() => {
                    this.isProcessing = false
                })

        },
        cancel() {
            this.form.first.value = null
            this.form.last.value = null
            this.form.city.value = null
            this.form.birth.value = null
            this.form.birthplace.value = null
            this.form.neighborhood.value = null
            this.form.level.value = null
            this.form.school.value = null
            this.form.address.value = null
            this.form.phone.value = null
            this.form.sex.value = null
            this.form.dni.value = null
            this.form.dnitype.value = null            
         
            this.$v.$reset()
        },
        
        
},
 
}
</script>

<style scoped>
.invalid-tooltip {
    position: inherit;
}
</style>