<template>
<div>
    <ViewTitleOptions title="Agregar lugar de evento" :options=options />
    <div class="card shadow col-lg-8 p-0">
        <div class="card-body">
            <form @submit.prevent="submit" novalidate>

                <div class="form-group" :class="{ 'form-group--error': $v.form.capacity.value.$error }">
                    <input type="number" class="form-control" id="capacity" name="capacity" placeholder=" " v-model.trim="$v.form.capacity.value.$model" :class="{ 'is-invalid': $v.form.capacity.value.$error | !form.capacity.isValid }" min="1" pattern="^[0-9]+$">
                    <label class="form-placeholder" for="capacity">Capacidad</label>
                    <div class="invalid-tooltip">Ingrese una capacidad válida</div>
                </div>

                <div class="form-group" :class="{ 'form-group--error': $v.form.location.value.$error }">
                    <input form="#" ref="autocomplete" class="form-control" type="text" placeholder=" " onfocus="value=''" id="location" name="location" v-model.trim="$v.form.location.value.$model" :class="{ 'is-invalid': $v.form.location.value.$error | !form.location.isValid }" />
                    <label class="form-placeholder" for="location">Buscar locación</label>
                    <div class="invalid-tooltip">Ingrese una locación válida</div>
                </div>                             

                <div v-if=place_id class="form-group" :class="{ 'form-group--error': $v.form.name.value.$error }">
                    <input type="text" class="form-control" id="name" name="name" placeholder=" " v-model.trim="$v.form.name.value.$model" :class="{ 'is-invalid': $v.form.name.value.$error | !form.name.isValid }">
                    <label class="form-placeholder" for="location">Nombre</label>
                    <div class="invalid-tooltip">Ingrese un nombre válido</div>
                </div>                             
                
                <div v-if=place_id class="form-group" :class="{ 'form-group--error': $v.form.address.value.$error }">
                    <input type="text" class="form-control" id="address" name="address" placeholder=" " v-model.trim="$v.form.address.value.$model" :class="{ 'is-invalid': $v.form.address.value.$error | !form.address.isValid }">
                    <label class="form-placeholder" for="address">Dirección</label>
                    <div class="invalid-tooltip">Ingrese una dirección válida</div>
                </div>                             
                
                <div v-if=place_id class="map-container mb-3">
                    <l-map class="map" :zoom=15 :center=mapCenter >
                        <l-tile-layer :url=mapUrl />
                        <l-marker :lat-lng=mapCenter /> 
                    </l-map>
                </div>

                <button :disabled="isProcessing" type="submit" class="btn btn-custom-light">
                    <span v-if="!isProcessing" >Aceptar</span>
                    <span v-if="isProcessing" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
                <button @click="cancel" :disabled="isProcessing" type="button" class="btn btn-custom-light ml-2">
                    <span>Cancelar</span>
                </button>

            </form>
            
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import { required, minValue } from 'vuelidate/lib/validators'
import { latLng } from "leaflet"
import { LMap, LTileLayer, LMarker } from "vue2-leaflet"

export default {
    name: 'NewVenue',
    components: {
        ViewTitleOptions,
        LMap,
        LTileLayer,
        LMarker
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/evento/nuevo',
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            isProcessing: false,
            form: {                             
                location: {
                    id: 'location',
                    value: null,
                    isValid: true
                },            
                name: {
                    id: 'name',
                    value: null,
                    isValid: true
                },            
                address: {
                    id: 'address',
                    value: null,
                    isValid: true
                },            
                capacity: {
                    id: 'capacity',
                    value: null,
                    isValid: true
                }                        
            },
            mapUrl: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
            mapLat: null,
            mapLng: null,
            place_id: null    
        }
    },
    computed: {
        mapCenter: function() {
            return latLng(this.mapLat, this.mapLng)
        }
    },
    validations(){     
        return {
            form: {
                location: {
                    value: {
                        required
                    }
                },
                name: {
                    value: {
                        required
                    }
                },
                address: {
                    value: {
                        required
                    }
                },
                capacity: {
                    value: {
                        required,
                        minValue: minValue(1)
                    }
                }                
            }
        }
    },
    methods: {
        submit() {
            this.$v.$touch()
            if (this.$v.$invalid) return
            
            this.isProcessing = true               
            
            const data = new FormData()
            data.append('capacity', this.form.capacity.value)
            data.append('address', this.form.address.value)
            data.append('name', this.form.name.value)
            data.append('place_id', this.place_id)
            data.append('mapLat', this.mapLat)
            data.append('mapLng', this.mapLng)

            axios.post('/venue/create', data)
                .then(response => {
                    this.$toast.success('de evento creado', 'Lugar')
                    this.$router.push('/evento/nuevo')
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
                .finally(() => {
                    this.isProcessing = false
                    this.$router.push('/evento/nuevo')
                })
        },
        cancel() {
            this.form.name.value = null            
            this.form.address.value = null            
            this.form.location.value = null            
            this.form.capacity.value = null
            this.place_id = null                   
            this.$v.$reset()
        }
    },
    mounted() {        
        const defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-34.980741, -58.181204),
            new google.maps.LatLng(-34.929689, -57.714518))

        this.autocomplete = new google.maps.places.Autocomplete(
            (this.$refs.autocomplete),
            {bounds: defaultBounds}
        )

        this.autocomplete.addListener('place_changed', () => {
            const place = this.autocomplete.getPlace()
            this.form.name.value = place.name
            this.mapLat = place.geometry.location.lat()
            this.mapLng = place.geometry.location.lng()
            this.place_id = place.place_id
            this.form.location.value = place.formatted_address
            this.form.address.value = place.formatted_address
        })
    }
}
</script>

<style scoped>

.map-container {
    height: 300px;
}

.map {
    position: relative;
}
</style>