<template>
  <div>
    <ViewTitleOptions title="Ciclos Lectivos" :options="options" />
    <SearchableList
      :listName="list"
      :columns="columns"
      :endpoint="endpoint"
      :options="queryOptions"
    />
    
  </div>
</template>

<script>
import axios from "axios";
import ViewTitleOptions from "../components/ViewTitleOptions";
import SearchableList from "../components/SearchableList";
import PeriodList from "../components/SearchableListHeader/PeriodList";

export default {
  name: "Period",
  components: {
    ViewTitleOptions,
    SearchableList,
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/ciclo/nuevo",
          name: "Agregar",
          icon: "plus",
        }
      ],
      list: PeriodList,
      endpoint: "/period",
      columns: ['Principio','Fin','Semestre','Detalles'],
      queryOptions: {
        shouldSort: true,
        tokenize: true,
        threshold: 0.2,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["start", "end", "semester"]
      },
      showModalCreate: false
    };
  },
  methods: {
    openCreate: function(){
        this.showModalCreate = true;
    },
  }
};
</script>

<style>
</style>
