<template>
    <div>
        <ViewTitleOptions title="Preceptores" />
        <SearchableList :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />
    </div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import PreceptorList from '../components/SearchableListHeader/PreceptorList'

export default {
    name: 'Preceptor',
    components: {
        ViewTitleOptions,
        SearchableList
    },
    data() {
        return {
            list: PreceptorList,
            endpoint: "/preceptor",
            columns: ['usuario', 'nombre', 'apellido', 'email'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'username',
                    'email'
                ]
            }
        }
    }
}
</script>

<style>

</style>
