<template>

<div v-if="value == 'True'">
    <ViewTitleOptions title="Estudiante" :options=options />
    <CardWithFeedback :cardData="cards.updateStudentInfo" />
    <CardWithFeedback :cardData="cards.deleteStudent" /> 
      
         
        <div v-if="have_guardian == 'True'">
            <ViewTitleOptions title="Responsables a cargo"  />   
            <div class="card shadow col-lg-10 p-0">
                <SearchableList :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />
            </div>
        </div>    
        <div v-else>
           <ViewTitleOptions title="Aun no tiene personas a cargo"  />            

        </div>
    


</div> 
<div v-else>
    <ViewTitleOptions title="Estudiante no encontrado" :options=options />

</div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import EditableForm from '../components/EditableForm'
import CardWithFeedback from '../components/CardWithFeedback'
import UpdateStudentInfoForm from '../components/UpdateStudentInfoForm'
import UpdateGuardianInfoForm from '../components/UpdateGuardianInfoForm'
import StudentGuardianList from '../components/SearchableListHeader/StudentGuardianList'
import SearchableList from '../components/SearchableList'
import DeleteStudentForm from '../components/DeleteStudentForm'
import VuejsDialog from 'vuejs-dialog';

import axios from 'axios'





export default {
    name: 'Perfil',
    components: {       
        EditableForm,    
        CardWithFeedback,
        ViewTitleOptions,
        SearchableList

    },
    data() {
        return {   
            value: null, 
            have_guardian:null,
            options: [
                {
                    id: 1,
                    link: '/alumno',
                    name: 'Volver',
                    icon: 'arrow-left'
                },
                {
                    id: 2,
                    link: '/alumno/' + this.$route.params.id + '/detalle',
                    name: 'Detalle',
                    icon: 'plus'
                },
                {
                    id: 3,
                    link: '/alumno/' + this.$route.params.id + '/nuevoResponsable',
                    name: 'Responsable',
                    icon: 'plus'
                }               
            ],        
            cards: {                
                updateStudentInfo: {
                    title: 'Información del estudiante',
                    form: UpdateStudentInfoForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                },
                updateGuardianInfo: {
                    title: 'Información del responsable a cargo',
                    form: UpdateGuardianInfoForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                },
                deleteStudent: {
                    title: 'Eliminar Estudiante',
                    form: DeleteStudentForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                }
            },
            list: StudentGuardianList,
            endpoint: "/student/guardian/" + this.$route.params.id,
            columns: ['Dni', 'nombre', 'apellido', 'nacimiento', 'telefono'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'first_name',
                    'document_number'
                ]
            }
                        
               
        }
    },
    created(){
        axios.get('/student/exist/' + this.$route.params.id)
            .then(response => {
                this.value = response.data.value
                this.have_guardian = response.data.guardian           
            })
            .catch(error => {})
    }
}
</script>

<style scoped>

</style>
