<template>

<div v-if="value == 'True'">
    <ViewTitleOptions title="Docente" :options=options />
    <CardWithFeedback :cardData="cards.updateTeacherInfo" />     
    <CardWithFeedback :cardData="cards.deleteUser" />
</div> 
<div v-else>
    <ViewTitleOptions title="Docente" :options=options2 />
    <h5>No Hemos encontrado el docente solicitado</h5>

</div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import EditableForm from '../components/EditableForm'
import CardWithFeedback from '../components/CardWithFeedback'
import UpdateTeacherInfoForm from '../components/UpdateTeacherInfoForm'
import DeleteUserForm from '../components/DeleteUserForm'
import axios from 'axios'





export default {
    name: 'Perfil',
    components: {       
        EditableForm,    
        CardWithFeedback,
        ViewTitleOptions
    },
    data() {
        return {   
            value: null, 
            options: [
                {
                    id: 1,
                    link: '/docente',
                    name: 'Volver',
                    icon: 'arrow-left'
                },
                {
                    id: 2,
                    link: '/docente/' + this.$route.params.id + '/detalle',
                    name: 'Detalle',
                    icon: 'plus'
                }
            ], 
            options2: [
                {
                    id: 1,
                    link: '/docente',
                    name: 'Volver',
                    icon: 'arrow-left'
                }                
            ],         
            cards: {                
                updateTeacherInfo: {
                    title: 'Información del docente',
                    form: UpdateTeacherInfoForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                },
                deleteUser: {
                    title: 'Eliminar Usuario',
                    form: DeleteUserForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                }
            }   
        }
    },
    created(){
        axios.get('/user/exist/' + this.$route.params.id)
            .then(response => {
                this.value = response.data.value              
            })
            .catch(error => {})
    }
}
</script>

<style scoped>

</style>
