<template>
  <div v-if="value == 'True' && ok_user">
    <ViewTitleOptions title="Curso" :options="options" />
    <CardWithFeedback :cardData="cards.updateCourseInfo" class="col-lg-12" />
    <CardWithFeedback
      v-if="havePermissionDelete()"
      :cardData="cards.deleteCourse"
      class="col-lg-12"
    />
    <div class="card shadow col-lg-12 p-0">
      <div class="card-header d-flex align-items-center">
        <h5 class="mb-0">Alumnos</h5>
      </div>
      <div class="card-body">
        <SearchableList
          :listName="list"
          :columns="columns"
          :endpoint="endpoint"
          :options="queryOptions"
          class="custom-table"
        />
      </div>
    </div>
  </div>
  <div v-else>
    <ViewTitleOptions title="Impossible acceder al curso" :options="options" />
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import EditableForm from "../components/EditableForm";
import CardWithFeedback from "../components/CardWithFeedback";
import UpdateCourseInfoForm from "../components/UpdateCourseInfoForm";
import SearchableList from "../components/SearchableList";
import CourseStudentList from "../components/SearchableListHeader/CourseStudentList";
import DeleteCourseForm from "../components/DeleteCourseForm";
import VuejsDialog from "vuejs-dialog";
import { mapGetters } from "vuex";

import axios from "axios";

export default {
  name: "Profile_Course",
  components: {
    EditableForm,
    CardWithFeedback,
    ViewTitleOptions,
    SearchableList,
    CourseStudentList
  },
  data() {
    return {
      value: null,
      ok_user: false,
      today: new Date(),
      options: [
        {
          id: 1,
          link: "/mis_cursos",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      cards: {
        updateCourseInfo: {
          title: "Información del Curso",
          form: UpdateCourseInfoForm,
          msj: {
            ok: "Actualizado",
            error: "Error al actualizar"
          }
        },
        deleteCourse: {
          title: "Eliminar Curso",
          form: DeleteCourseForm,
          msj: {
            ok: "Actualizado",
            error: "Error al actualizar"
          }
        }
      },
      list: CourseStudentList,
      endpoint: "/student/enrolled_attendance/" + this.$route.params.id,
      columns: [
        "nombre",
        "apellido",
        "nivel",
        "total clases",
        "clases asistidas",
        "peligro de abandono"
      ],
      queryOptions: {
        shouldSort: true,
        tokenize: true,
        threshold: 0.2,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ["first_name", "last_name", "level.name"]
      }
    };
  },
  methods: {
    ...mapGetters(["getUser"]),
    havePermissionDelete() {
      if (this.getUser().permissions.includes("course_delete")) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    if (this.getUser().permissions.includes("course_index")) {
      this.options[0].link = "/curso";
    }
    axios
      .get("/course/exist/" + this.$route.params.id)
      .then(response => {
        this.value = response.data.value;
      })
      .catch(error => {});
    // check if user_enrollment includes user or user is admin
    axios
      .get("/enrollment/" + this.$route.params.id + "/" + this.getUser().id)
      .then(response => {
        if (
          response.data.value ||
          this.getUser().roles.includes("administrator")
        ) {
          this.ok_user = true;
        }
      })
      .catch(error => {});
    // check if day of today equal course day and if period include today
    axios
      .get("/enrollment/" + this.$route.params.id)
      .then(response => {
        var day = this.today.getDay();
        var start = response.data.period.start;
        var end = response.data.period.end;
        var enr_day = response.data.weekday.id;
        let dateStart = start.split("/");
        let dateEnd = end.split("/");
        dateStart = new Date(
          dateStart[2],
          parseInt(dateStart[1]) - 1,
          dateStart[0]
        );
        dateEnd = new Date(dateEnd[2], parseInt(dateEnd[1]) - 1, dateEnd[0]);
        if (
          this.today >= dateStart &&
          this.today <= dateEnd &&
          day == enr_day
        ) {
          this.options.push({
            id: 2,
            link: "/asistencia/" + this.$route.params.id,
            name: "Pasar asistencia",
            icon: "plus"
          });
        }
      })
      .catch(error => {});
  }
};
</script>

<style>
@media screen and (max-width: 900px) {
  .custom-table {
    border: 0 !important;
  }

  .custom-table thead {
    border: none !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }

  .custom-table tr {
    display: block !important;
    border: 1px solid #ccc !important;
    box-shadow: 5px 5px #eee !important;
    margin: 0.75em !important;
  }

  .custom-table td {
    border-bottom: 1px solid #ddd !important;
    display: block !important;
    font-size: 0.8em !important;
    text-align: right !important;
  }

  .custom-table td::before {
    content: attr(data-label) !important;
    float: left !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  .custom-table td:last-child {
    border-bottom: 0 !important;
  }
}
</style>
