<template>
  <div v-if="value == 'True'">
    <ViewTitleOptions title="Instrumento" :options="options" />
    <CardWithFeedback :cardData="cards.updateInstrumentInfo" />
    <CardWithFeedback v-if="havePermissionDelete()" :cardData="cards.deleteInstrument" />
  </div>
  <div v-else>
    <ViewTitleOptions title="Instrumento no encontrado" :options="options" />
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import EditableForm from "../components/EditableForm";
import CardWithFeedback from "../components/CardWithFeedback";
import UpdateInstrumentInfoForm from "../components/UpdateInstrumentInfoForm";
import SearchableList from "../components/SearchableList";
import DeleteInstrumentForm from "../components/DeleteInstrumentForm";
import VuejsDialog from "vuejs-dialog";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Profile_Instrument",
  components: {
    EditableForm,
    CardWithFeedback,
    ViewTitleOptions,
    SearchableList
  },
  data() {
    return {
      value: null,
      options: [
        {
          id: 1,
          link: "/instrumento",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      cards: {
        updateInstrumentInfo: {
          title: "Información del Instrumento",
          form: UpdateInstrumentInfoForm,
          msj: {
            ok: "Actualizado",
            error: "Error al actualizar"
          }
        },
        deleteInstrument: {
          title: "Eliminar Instrumento",
          form: DeleteInstrumentForm,
          msj: {
            ok: "Actualizado",
            error: "Error al actualizar"
          }
        }
      }
    };
  },
  methods: {
    ...mapGetters(["getUser"]),
    havePermissionDelete() {
      if (this.getUser().permissions.includes("instrument_delete")) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    axios
      .get("/instrument/exist/" + this.$route.params.id)
      .then(response => {
        this.value = response.data.value;
      })
      .catch(error => {});
  }
};
</script>

<style scoped>
</style>
