<template>
  <div v-if="value == 'True'">
    <ViewTitleOptions title="Ciclo Lectivo" :options="options" />
    <CardWithFeedback :cardData="cards.updatePeriodInfo" />
    <CardWithFeedback v-if="havePermissionDelete()" :cardData="cards.deletePeriod" />
  </div>
  <div v-else>
    <ViewTitleOptions title="Ciclo lectivo no encontrado" :options="options" />
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import EditableForm from "../components/EditableForm";
import CardWithFeedback from "../components/CardWithFeedback";
import UpdatePeriodInfoForm from "../components/UpdatePeriodInfoForm";
import SearchableList from "../components/SearchableList";
import DeletePeriodForm from "../components/DeletePeriodForm";
import VuejsDialog from "vuejs-dialog";
import { mapGetters } from "vuex";

import axios from "axios";

export default {
  name: "Profile_Period",
  components: {
    EditableForm,
    CardWithFeedback,
    ViewTitleOptions,
    SearchableList
  },
  data() {
    return {
      value: null,
      options: [
        {
          id: 1,
          link: "/ciclo",
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      cards: {
        updatePeriodInfo: {
          title: "Información del Ciclo Lectivo",
          form: UpdatePeriodInfoForm,
          msj: {
            ok: "Actualizado",
            error: "Error al actualizar"
          }
        },
        deletePeriod: {
          title: "Eliminar Ciclo lectivo",
          form: DeletePeriodForm,
          msj: {
            ok: "Actualizado",
            error: "Error al actualizar"
          }
        }
      }
    };
  },
  methods: {
    ...mapGetters(["getUser"]),
    havePermissionDelete() {
      if (this.getUser().permissions.includes("period_delete")) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    axios
      .get("/period/exist/" + this.$route.params.id)
      .then(response => {
        this.value = response.data.value;
      })
      .catch(error => {});
  }
};
</script>

<style scoped>
</style>
