<template>

<div v-if="value == 'True'">
    <ViewTitleOptions title="Datos del responsable" :options=options /> 
    <CardWithFeedback :cardData="cards.updateGuardianInfo" />    

    <!-- <CardWithFeedback :cardData="cards.deleteUser" /> -->
</div> 
<div v-else>
    <ViewTitleOptions title="Responsable no encontrado" :options=options />

</div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import EditableForm from '../components/EditableForm'
import CardWithFeedback from '../components/CardWithFeedback'
import UpdateGuardianInfoForm from '../components/UpdateGuardianInfoForm'

//import DeleteUserForm from '../components/DeleteUserForm'
import axios from 'axios'





export default {
    name: 'Perfil',
    components: {       
        EditableForm,    
        CardWithFeedback,
        ViewTitleOptions

    },
    data() {
        return {   
            value: null, 
            options: [
                {
                    id: 1,
                    link: '/alumno',
                    name: 'Volver',
                    icon: 'arrow-left'
                },
            ],        
            cards: {              
                updateGuardianInfo: {
                    title: 'Información del responsable a cargo',
                    form: UpdateGuardianInfoForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                },
                /*deleteUser: {
                    title: 'Eliminar Estudiante',
                    form: DeleteUserForm,
                    msj: {
                        ok: 'Actualizado',
                        error: 'Error al actualizar'
                    }
                }*/
            }                        
               
        }
    },
    created(){
        axios.get('/guardian/exist/' + this.$route.params.id)
            .then(response => {
                this.value = response.data.value              
            })
            .catch(error => {})
    }
}
</script>

<style scoped>

</style>
