<template>
    <div>
        <ViewTitleOptions title="Alumnos" :options=options />        
        
        <div class="container-fluid p-0">
            <div class="row align-items-center">
                <div class="col-xl-4 d-flex justify-content-center" id="chart">        
                    <div class=" d-inline-flex shadow p-1"> 
                        <div class="p-0">
                            <PieChart />
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex justify-content-center" id="chart">
                    <div class="d-inline-flex shadow p-1">
                        <div class="p-0">
                            <LineChart />
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 d-flex justify-content-center" id="chart">
                    <div class="d-inline-flex shadow p-1">
                        <div class="p-0">
                            <BarChart />
                        </div>
                    </div>
                </div>
                  
            </div>
        </div>
        <br>
         <SearchableList :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />

    </div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import StudentList from '../components/SearchableListHeader/StudentList'
import PieChart from '../components/Charts/Pie-Chart'
import LineChart from '../components/Charts/Line-Chart'
import RadialBarChart from '../components/Charts/RadialBar-Chart'
import BarChart from '../components/Charts/Bar-Chart'

export default {
    name: 'Student',
    components: {
        ViewTitleOptions,
        SearchableList,
        PieChart,
        LineChart,
        RadialBarChart,
        BarChart


    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/alumno/nuevo',
                    name: 'Agregar',
                    icon: 'user-plus'
                }
            ],
            list: StudentList,
            endpoint: "/student",
            columns: ['DNI', 'nombre', 'apellido', 'Nivel', 'Barrio', 'Escuela'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'document_number',
                    'first_name',
                    'last_name',
                    'id_level',
                    'id_neighborhood',
                    'id_school'
                ]
            }
        }
    }
}
</script>

<style  scoped>
#chart {
    margin-top: 10px;
    margin-bottom: 10px;
}

</style>
