<template>
  <div v-if="ok_day && ok_user">
    <ViewTitleOptions title="Pasar asistencia" :options="options" />
    <AttendanceForm />
  </div>
  <div v-else>
    <ViewTitleOptions title="Imposible pasar asistencia" :options="options" />
  </div>
</template>

<script>
import ViewTitleOptions from "../components/ViewTitleOptions";
import AttendanceForm from "../components/AttendanceForm";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "TakeAttendance",
  components: {
    ViewTitleOptions,
    AttendanceForm
  },
  data() {
    return {
      options: [
        {
          id: 1,
          link: "/curso/" + this.$route.params.id,
          name: "Volver",
          icon: "arrow-left"
        }
      ],
      ok_day: false,
      ok_user: false
    };
  },
  methods: {
    ...mapGetters(["getUser"])
  },
  created() {
    // check if day of today equal course day and if period include today
    axios
      .get("/enrollment/" + this.$route.params.id)
      .then(response => {
        var today = new Date();
        var day = today.getDay();
        var start = response.data.period.start;
        var end = response.data.period.end;
        var enr_day = response.data.weekday.id;
        let dateStart = start.split("/");
        let dateEnd = end.split("/");
        dateStart = new Date(
          dateStart[2],
          parseInt(dateStart[1]) - 1,
          dateStart[0]
        );
        dateEnd = new Date(dateEnd[2], parseInt(dateEnd[1]) - 1, dateEnd[0]);
        if (today >= dateStart && today <= dateEnd && day == enr_day) {
          this.ok_day = true;
        }
      })
      .catch(error => {});
    // check if user_enrollment includes user or user is admin
    axios
      .get("/enrollment/" + this.$route.params.id + "/" + this.getUser().id)
      .then(response => {
        if (
          response.data.value ||
          this.getUser().roles.includes("administrator")
        ) {
          this.ok_user = true;
        }
      })
      .catch(error => {});
  }
};
</script>

<style>
</style>
