<template>
    <div>
        <ViewTitleOptions title="Docentes" :options=options />
        <SearchableList :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />
    </div>
</template>

<script>
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import TeacherList from '../components/SearchableListHeader/TeacherList'

export default {
    name: 'Teacher',
    components: {
        ViewTitleOptions,
        SearchableList
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/usuario/nuevo',
                    name: 'Agregar',
                    icon: 'user-plus'
                }
            ],
            list: TeacherList,
            endpoint: "/teacher",
            columns: ['usuario', 'nombre', 'apellido', 'email'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'username',
                    'email'
                ]
            }
        }
    }
}
</script>

<style>

</style>
