<template>
<div>
    <ViewTitleOptions title=Detalles :subtitle=fullName :options=options />
    <h4 class="text-muted">Inscripciones</h4>
    <SearchableList :listName=list :columns=columns :endpoint=endpoint :options=queryOptions /> 
</div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import EnrollmentList from '../components/SearchableListHeader/EnrollmentList'

export default {
    name: 'TeacherDetail',
    components: {
        ViewTitleOptions,
        SearchableList
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/docente/' + this.$route.params.id,
                    name: 'Volver',
                    icon: 'arrow-left'
                }
            ],
            fullName: null,
            list: EnrollmentList,
            endpoint: "/enrolled/teacher/" + this.$route.params.id,
            columns: ['taller', 'desde', 'hasta', 'semestre'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'workshop.name',
                    'period.start',
                    'period.end',
                    'period.semester'
                ]
            }
        }
    },
    created() {
        axios.get('/teacher/' + this.$route.params.id)
            .then(response => 
                this.fullName = response.data.teacher_data_first_name + " " + response.data.teacher_data_last_name)
            .catch(error => {})
    }
}
</script>

<style scoped>

</style>