<template>
    <div>
        <ViewTitleOptions title="Workshop" :options=options />
        <SearchableList @deleteWorkshop="deleteWorkshop" ref="searchableList" :listName=list :columns=columns :endpoint=endpoint :options=queryOptions />
    </div>
</template>

<script>
import axios from 'axios'
import ViewTitleOptions from '../components/ViewTitleOptions'
import SearchableList from '../components/SearchableList'
import WorkshopList from '../components/SearchableListHeader/WorkshopList'
import { mapActions } from 'vuex'

export default {
    name: 'Workshop',
    components: {
        ViewTitleOptions,
        SearchableList,
        WorkshopList
    },
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/nuevoTaller',
                    name: 'Agregar',
                    icon: 'plus'
                }
            ],
            list: WorkshopList,
            endpoint: "/workshop",
            columns: ['nombre', 'acciones'],
            queryOptions: {
                shouldSort: true,
                tokenize: true,
                threshold: 0.2,
                location: 0,
                distance: 100,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: [
                    'name'
                ]
            }
        }
    },
    methods: {
        ...mapActions(['stopProcessing']),
        deleteWorkshop(id) {
            axios.post('/deleteWorkshop/' + id)
                .then(response => {
                    this.$toast.success('eliminado', 'Taller')
                    this.$refs.searchableList.remove(id)
                    this.stopProcessing(id)
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                    this.stopProcessing(id)
                })
        }      
    }
}
</script>

<style>

</style>
