<template>
  <div class="card shadow col-lg-8 p-0">
    <div class="card-body">
      <div v-if="not_students">
        <h6>No existen estudiantes sin asistencias</h6>
      </div>
      <form v-else @submit.prevent="submit" class="needs-validation" novalidate>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th
                  :key="column.name"
                  v-for="column in columns"
                  scope="col"
                >{{ column | capitalize }}</th>
              </tr>
            </thead>
            <AttendanceStudentList :rows="students" @toggle="change($event)" />
          </table>
        </div>
        <div class="text-right border-top">
          <button type="button" v-confirm="{ok: submit, message: 'Se pasara asistencia a los alumnos seleccionados. Desea Continuar?'}" class="btn btn-custom-light mt-3">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AttendanceStudentList from "../components/SearchableListHeader/AttendanceStudentList";
import { mapGetters } from "vuex";
import VuejsDialog from 'vuejs-dialog';
export default {
  name: "AttendanceForm",
  components: {
    AttendanceStudentList
  },
  data() {
    return {
      students: [],
      not_students: false,
      columns: ["nombre", "apellido", "presente"]
    };
  },
  methods: {
    ...mapGetters(["getUser"]),
    change(id) {
      var index = this.students.findIndex(student => student.id == id);
      if (this.students[index].attendance) {
        this.students[index].attendance = false;
      } else {
        this.students[index].attendance = true;
      }
    },
    submit() {
      var attendance_students = this.students.filter(
        student => student.attendance
      );
      var formData = new FormData();
      formData.append("attendances", JSON.stringify(attendance_students));
      formData.append("user", this.getUser().id);
      formData.append("enrollment", this.$route.params.id);
      axios
        .post("/attendance/new", formData)
        .then(response => {
          this.$toast.success('registrada', 'Asistencia')
          this.$router.push("/curso/" + this.$route.params.id);
        })
        .catch(error => {
          this.$toast.error('Inténtelo más tarde', 'Error')
        });
    }
  },
  created() {
    var url_students = "/attendance/" + this.$route.params.id;
    axios
      .get(url_students)
      .then(response => {
        this.students = response.data;
        if (this.students.length == 0) {
          this.not_students = true;
        }
      })
      .catch(e => {
        this.$toast.error('Inténtelo más tarde', 'Error')
      });
  }
};
</script>