<template>
<div>
    <button v-confirm="{ok: instrument_delete, message: 'Se eliminara el instrumento del sistema. Desea Continuar?'}" type="button" class="btn btn-custom-light" >
       <span >Eliminar</span>
    </button>
    
</div>
</template>

<script>
import axios from 'axios'
import VuejsDialog from 'vuejs-dialog';

export default {
    name: 'DeleteStudent',    
    methods: {
        instrument_delete() {
            this.$emit('processing')           
            const formData = new FormData()
            formData.append('id', this.$route.params.id)
            axios.post('/instrument/instrument_delete', formData)
                .then(response => {
                    this.$toast.success('eliminado', 'Instrumento')
                    this.$router.push('/instrumento')
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
        }
    }
    
}
</script>

<style scoped>
.btn + .card-text {
    margin: 10px;
}
</style>