<template>
<div>
    <button v-confirm="{ok: course_delete, message: 'Se eliminara el curso del sistema. Desea Continuar?'}" type="button" class="btn btn-custom-light" >
       <span >Eliminar</span>
    </button>
</div>
</template>

<script>
import axios from 'axios'
import VuejsDialog from 'vuejs-dialog';

export default {
    name: 'DeleteCourseForm',    
    methods: {
        course_delete() {
            this.$emit('processing')           
            const formData = new FormData()
            formData.append('id', this.$route.params.id)
            axios.post('/course/course_delete', formData)
                .then(response => {
                    this.$toast.success('eliminado', 'Curso')
                    this.$router.push('/curso')
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
        }
    }
}
</script>

<style scoped>
.btn + .card-text {
    margin: 10px;
}
</style>