<template>
<div>
    <button v-confirm="{ok: period_delete, message: 'Se eliminara el ciclo lectivo del sistema. Desea Continuar?'}" type="button" class="btn btn-custom-light" >
       <span >Eliminar</span>
    </button>
</div>
</template>

<script>
import axios from 'axios'
import VuejsDialog from 'vuejs-dialog';

export default {
    name: 'DeletePeriodForm',    
    methods: {
        period_delete() {
            this.$emit('processing')           
            const formData = new FormData()
            formData.append('id', this.$route.params.id)
            axios.post('/period/period_delete', formData)
                .then(response => {
                    this.$toast.success('eliminado', 'Ciclo lectivo')
                    this.$router.push('/ciclo')
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
        }
    }
}
</script>

<style scoped>
.btn + .card-text {
    margin: 10px;
}
</style>