<template>
<div>
    <button v-confirm="{ok: student_delete, message: 'Se eliminara el alumno del sistema. Desea Continuar?'}" type="button" class="btn btn-custom-light" >
       <span >Eliminar</span>
    </button>
    
</div>
</template>

<script>
import axios from 'axios'
import VuejsDialog from 'vuejs-dialog';

export default {
    name: 'DeleteStudent',    
    methods: {
        student_delete() {
            this.$emit('processing')           
            
            axios.delete('/student/' + this.$route.params.id)
                .then(response => {
                    this.$toast.success('eliminado', 'Alumno')
                    this.$router.push('/alumno')
                })
                .catch(error => {
                    this.$toast.error('Inténtelo más tarde', 'Error')
                })
        }
    }
    
}
</script>

<style scoped>
.btn + .card-text {
    margin: 10px;
}
</style>