<template>
    <div>
        <ViewTitleOptions :title="'Inscripciones de ' + title" :options=options />
        <div class="card shadow-sm mb-4">
            <div class="card-header py-2">
                <h5 class="mb-0 mt-1 d-inline-block">Curso</h5>
                <router-link v-if="getUser.permissions.includes('period_profile')" to='/ciclo/asignar' class="btn btn-sm btn-custom-light float-right">
                    <plus-icon size="1.5x" class="custom-class" /> Agregar
                </router-link>
                <router-link v-if="(!this.searchDisabled)" :to="'/inscripcion/' + enrollmentId"  class="btn btn-sm btn-custom-light float-right mr-2">
                    <more-horizontal-icon size="1.5x" class="custom-class" /> Detalle
                </router-link> 
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="period_input">1. Ciclo lectivo</label>
                            <select @change="resetForPeriod" v-model="selectedPeriod" class="form-control" id="period_input">
                                <option hidden disabled :value=null>Seleccione un ciclo lectivo</option>
                                <option :key="period.id" v-for="period in periods" :value="period">De: {{ period.start }} A: {{ period.end }} - Semestre {{ period.semester }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="workshops_input">2. Taller</label>
                            <select @change="resetForWorkshop" v-model="selectedWorkshop" :disabled="!selectedPeriod" class="form-control" id="workshops_input">
                                <option hidden disabled :value=null>Seleccione un taller</option>
                                <option :key="workshop.id" v-for="workshop in workshops" :value="workshop">{{ workshop.name | capitalize }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="center_input">3. Núcleo</label>
                            <select @change="resetForCenter" v-model="selectedCenter" :disabled="!selectedWorkshop" class="form-control" id="center_input">
                                <option hidden disabled :value=null>Seleccione un núcleo</option>
                                <option :key="center.id" v-for="center in centers" :value="center">{{ center.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">     
                        <div class="form-group">
                            <label for="weekday_input">4. Día</label>
                            <select @change="getNotEnrolled" v-model="selectedWeekday" :disabled="!selectedCenter" class="form-control" id="weekday_input">
                                <option hidden disabled :value=null>Seleccione un día</option>
                                <option :key="weekday.day.id" v-for="weekday in weekdays" :value="weekday">{{ weekday.day.name | capitalize }} - {{ weekday.time }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <SearchableList @enroll="enroll" ref="searchableList" :listName=list :listTitle="title + ' no inscriptos'" :columns=columns :endpoint=endpoint :options=queryOptions :noAutoSearch=true :disabled=searchDisabled />
    </div>
</template>

<script>
import axios from 'axios'
import { PlusIcon, MoreHorizontalIcon } from 'vue-feather-icons'
import ViewTitleOptions from './ViewTitleOptions'
import SearchableList from './SearchableList'
import TeacherEnrollmentList from '../components/SearchableListHeader/TeacherEnrollmentList'
import StudentEnrollmentList from '../components/SearchableListHeader/StudentEnrollmentList'
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'Enrollment',
    components: {
        PlusIcon,
        MoreHorizontalIcon,
        ViewTitleOptions,
        SearchableList,
        TeacherEnrollmentList,
        StudentEnrollmentList
    },
    props: [
        'title',
        'enrolling',
        'list',
        'columns',
        'queryOptions'
    ],
    data() {
        return {
            options: [
                {
                    id: 1,
                    link: '/inscripcion/alumno',
                    name: 'Alumnos',
                    icon: 'folder-plus'
                },
                {
                    id: 2,
                    link: '/inscripcion/docente',
                    name: 'Docentes',
                    icon: 'folder-plus'
                }
            ],
            selectedWorkshop: null,
            selectedPeriod: null,
            selectedCenter: null,
            selectedWeekday: null,
            enrollmentId: null,
            enrollments: []
        }
    },
    computed: {
        ...mapGetters(['getUser']),
        periods: function() {
            const periods = this.enrollments.map(enrollment => enrollment.period)
            return Array.from(new Set(periods.map(period => period.id)))
                        .map(id => periods.find(period => period.id === id))
        },
        workshops: function() {
            const enrollments = this.selectedPeriod
                                ? this.enrollments.filter(enrollment => enrollment.period.id === this.selectedPeriod.id)
                                : this.enrollments
            const workshops = enrollments.map(enrollment => enrollment.workshop)
            return Array.from(new Set(workshops.map(workshop => workshop.id)))
                        .map(id => workshops.find(workshop => workshop.id === id))
        },
        centers: function() {
            const enrollments = this.selectedWorkshop
                                ? this.enrollments.filter(enrollment => enrollment.period.id === this.selectedPeriod.id
                                                                     && enrollment.workshop.id === this.selectedWorkshop.id)
                                : this.enrollments
            const centers = enrollments.map(enrollment => enrollment.center)
            return Array.from(new Set(centers.map(center => center.id)))
                        .map(id => centers.find(center => center.id === id))
        },
        weekdays: function() {
            const enrollments = this.selectedCenter
                                ? this.enrollments.filter(enrollment => enrollment.period.id === this.selectedPeriod.id
                                                                     && enrollment.workshop.id === this.selectedWorkshop.id
                                                                     && enrollment.center.id === this.selectedCenter.id)
                                : this.enrollments
            const weekdays = enrollments.map(enrollment => ({
                day: enrollment.weekday,
                time: enrollment.hour
            }))
            return Array.from(new Set(weekdays.map(weekday => weekday.day.id)))
                        .map(id => weekdays.find(weekday => weekday.day.id === id))
        },
        endpoint: function() {
            return '/' + this.enrolling + '/notEnrolled/' + this.enrollmentId
        },
        searchDisabled: function() {
            return !this.selectedPeriod || !this.selectedWorkshop || !this.selectedCenter || !this.selectedWeekday
        }
    },
    methods: {
        ...mapActions(['stopProcessing']),
        resetForPeriod() {
            this.selectedWorkshop = null
            this.resetForWorkshop()
        },
        resetForWorkshop() {
            this.selectedCenter = null
            this.resetForCenter()
        },
        resetForCenter() {
            this.selectedWeekday = null
            this.$refs.searchableList.reset()
        },
        getNotEnrolled() {
            if (!this.searchDisabled) {
                axios.get('/enrollment/' + this.selectedPeriod.id + '/'
                                         + this.selectedWorkshop.id + '/'
                                         + this.selectedCenter.id + '/'
                                         + this.selectedWeekday.day.id)
                    .then(response => {
                        this.enrollmentId = response.data.id
                        this.$refs.searchableList.search()
                    })
                    .catch(error => {
                        this.enrollmentId = null
                        this.resetForPeriod()
                    })
            }
        },
        enroll(id) {
            axios.post('/enrollment/' + this.enrolling + '/' + this.enrollmentId + '/' + id)
                .then(response => {
                    this.$refs.searchableList.remove(id)
                    this.stopProcessing(id)
                    this.$toast.success('Inscripto!')
                })
                .catch(error => {
                    this.stopProcessing(id)
                    this.$toast.error('Inténtelo más tarde', "Error")
                })
        }
    },
    created() {
        axios.get('/enrollment')
            .then(response => this.enrollments = response.data)
            .catch(error => {})
    }
}
</script>
