<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{title}}</h5>
            </div>

            <div class="modal-body p-0">
              <form @submit.prevent="submit" novalidate>
                <!-- Start -->

                <div class="form-group p-3 m-0">
                  <p>Seleccione el comienzo del ciclo:</p>

                  <date-picker
                    v-model="$v.start.$model"
                    type="date"
                    placeholder="Seleccione la fecha de inicio"
                    value-type="DD/MM/YYYY"
                    format="DD-MM-YYYY"
                    :disabled-date="notBeforeToday"
                    @change="show=false"
                  />

                  <div class="invalid-tooltip d-inline-block">
                    <div v-if="$v.start.$model == null">{{errors[0]}}</div>
                    <div v-if="$v.start.$model != null && !$v.start.maxValue">{{errors[2]}}</div>
                  </div>
                </div>

                <!-- End -->

                <div class="form-group px-3 pb-3 m-0">
                  <p>Seleccione el fin del ciclo:</p>

                  <date-picker
                    v-model="$v.end.$model"
                    type="date"
                    placeholder="Seleccione la fecha de fin"
                    value-type="DD/MM/YYYY"
                    format="DD-MM-YYYY"
                    :disabled-date="notBeforeToday"
                    @change="show=false"
                  />

                  <div class="invalid-tooltip d-inline-block">
                    <div v-if="$v.end.$model == null">{{errors[1]}}</div>
                    <div v-if="$v.end.$model != null && !$v.end.maxValue">{{errors[3]}}</div>
                  </div>
                </div>

                <!-- Semesters Radios -->

                <div class="form-group px-3 pb-3 m-0">
                  <p>Seleccione un semestre:</p>

                  <div class="form-check">
                    <input
                      v-model="semester"
                      class="form-check-input"
                      type="radio"
                      name="semester"
                      id="semester1"
                      value="1"
                      @change="show=false"
                    />
                    <label class="form-check-label" for="semester1">Semestre 1</label>
                  </div>
                  <div class="form-check">
                    <input
                      v-model="semester"
                      class="form-check-input"
                      type="radio"
                      name="semester"
                      id="semester2"
                      value="2"
                      @change="show=false"
                    />
                    <label class="form-check-label" for="semester2">Semestre 2</label>
                  </div>
                </div>

                <!-- Notification message -->

                <transition name="slide-fade">
                  <div
                    v-if="show"
                    class="position-relative mb-3 mx-3 d-block mb-3"
                    :class="{ 'invalid-tooltip':hasError, 'valid-tooltip':!hasError}"
                  >{{message}}</div>
                </transition>

                <!-- Footer Modal -->

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="$emit('close')">Cancelar</button>
                  <button v-if="submitStatus" type="buttton" class="btn btn-primary">
                    <div class="spinner-border spinner-border-sm" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                  <button
                    v-else
                    type="submit"
                    :disabled="(start==selectedStart && end==selectedEnd && semester==selectedSemester) || $v.start.$invalid || $v.end.$invalid || show"
                    class="btn btn-primary"
                  >{{action}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/es";
import { required, minValue, maxValue } from "vuelidate/lib/validators";
export default {
  name: "ModalFormPeriod",
  props: [
    "title",
    "action",
    "method",
    "selectedStart",
    "selectedEnd",
    "selectedSemester",
    "message",
    "showMessage",
    "hasError",
    "submitStatus"
  ],
  components: { DatePicker },
  data() {
    return {
      start: this.selectedStart,
      end: this.selectedEnd,
      semester: this.selectedSemester,
      show:this.showMessage,
      today: new Date(),
      errors: [
        "Debe ingresar una fecha de inicio de ciclo",
        "Debe ingresar una fecha de fin de ciclo",
        "La fecha de inicio debe ser inferior a la de fin",
        "La fecha de fin debe ser superior a la de inicio"
      ]
    };
  },
  validations() {
    return {
      start: {
        required,
        maxValue: value => {
          if (value != "" && value != null && this.end != "" && this.end != null) {
            let str1 = value.split("/");
            let str2 = this.end.split("/");
            let date1 = new Date(str1[2], parseInt(str1[1]) - 1, str1[0]);
            let date2 = new Date(str2[2], parseInt(str2[1]) - 1, str2[0]);
            return date1 < date2;
          } else {
            return true;
          }
        }
      },
      end: {
        required,
        maxValue: value => {
          if (value != "" && value != null && this.start != "" && this.start != null) {
            let str1 = value.split("/");
            let str2 = this.start.split("/");
            let date1 = new Date(str1[2], parseInt(str1[1]) - 1, str1[0]);
            let date2 = new Date(str2[2], parseInt(str2[1]) - 1, str2[0]);
            return date1 > date2;
          } else {
            return true;
          }
        }
      }
    };
  },
  methods: {
    submit() {
      this.$v.$touch();
      this.method();
    },
    notBeforeToday(date) {
      return date < this.today;
    }
  },
  watch: {
    start(newValue) {
      this.$emit("start", newValue);
    },
    end(newValue) {
      this.$emit("end", newValue);
    },
    semester(newValue) {
      this.$emit("semester", newValue);
    },
    showMessage(newValue){
      this.show=newValue
    }
  }
};
</script>

<style scoped>
.valid-message {
  color: white;
  background-color: rgb(166, 214, 93);
  height: 2em;
  border-radius: 0.5em;
}

.invalid-message {
  color: white;
  background-color: rgb(247, 90, 90);
  height: 2em;
  border-radius: 0.5em;
}

.modal-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-content,
.modal-leave-active .modal-content {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s /*cubic-bezier(1.0, 0.5, 0.8, 1.0)*/ ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

 {
  transform: translateX(10px);
  opacity: 0;
}
</style>