<template>
    <div class="container-fluid">   
    
        <nav class="sidebar col-md-3 col-xl-2 px-0 collapse d-md-block shadow" id="sidebar" :data-toggle="[ $vssWidth < 768 ? 'collapse' : '']" data-target="#sidebar">
           <ul class="nav flex-column flex-md-nowrap sidebar-options border-bottom p-3 ">
            <div :class="[ $vssWidth < 768 ? 'row' : 'col-lg-13']">
                            
                    <div :class="clase" v-if="getUser.permissions.includes('home_index')">
                        <li  :class="clase_li">
                            <router-link to="/" class="nav-link">
                                <home-icon size="1.5x" class="custom-class" />
                                <span>Home </span>
                            </router-link>
                        </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('user_index')" >
                    <li :class="clase_li">
                        <router-link to="/usuario" class="nav-link">
                            <users-icon size="1.5x" class="custom-class" />
                            <span>Usuarios </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('administrator_index')" >
                    <li :class="clase_li">
                        <router-link to="/administrador" class="nav-link">
                            <users-icon size="1.5x" class="custom-class" />
                            <span>Admins </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('preceptor_index')">
                    <li  :class="clase_li">
                        <router-link to="/preceptores" class="nav-link">
                            <users-icon size="1.5x" class="custom-class" />
                            <span>Preceptores </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('teacher_index')">
                    <li  :class="clase_li">
                        <router-link to="/docente" class="nav-link">
                            <users-icon size="1.5x" class="custom-class" />
                            <span>Docentes </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('student_index')">
                    <li  :class="clase_li">
                        <router-link to="/alumno" class="nav-link">
                            <archive-icon size="1.5x" class="custom-class" />
                            <span>Alumnos </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('instrument_index')">
                    <li  :class="clase_li">
                        <router-link to="/instrumento"  class="nav-link">
                            <music-icon size="1.5x" class="custom-class" />
                            <span>Instrumentos </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('class_index')">
                    <li  :class="clase_li">
                        <router-link to="/taller" class="nav-link">
                            <archive-icon size="1.5x" class="custom-class" />
                            <span>Talleres </span>
                        </router-link>
                    </li>
                    </div>    
                    <div :class="clase" v-if="getUser.permissions.includes('center_index')">
                    <li  :class="clase_li">
                        <router-link to="/nucleo" class="nav-link">
                            <archive-icon size="1.5x" class="custom-class" />
                            <span>Núcleos </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('enrollment_student_index')">
                    <li  :class="clase_li">
                        <router-link to="/inscripcion/alumno" class="nav-link">
                            <folder-icon size="1.5x" class="custom-class" />
                            <span>Inscripciones </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('period_index')" >
                    <li :class="clase_li">
                        <router-link to="/ciclo" class="nav-link">
                            <calendar-icon size="1.5x" class="custom-class" />
                            <span>Ciclos Lectivos </span>
                        </router-link>
                    </li>
                    </div>
                    
                    <div :class="clase" v-if="getUser.permissions.includes('course_index')">
                    <li :class="clase_li">
                        <router-link to="/curso" class="nav-link">
                            <book-open-icon size="1.5x" class="custom-class" />
                            <span>Cursos </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('course_teacher_index')" >
                    <li :class="clase_li">
                        <router-link to="/mis_cursos" class="nav-link">
                            <book-open-icon size="1.5x" class="custom-class" />
                            <span>Mis Cursos </span>
                        </router-link>
                    </li>
                    </div>
                    
                    <div :class="clase" v-if="getUser.permissions.includes('event_index')" >
                    <li :class="clase_li">
                        <router-link to="/evento" class="nav-link">
                            <calendar-icon size="1.5x" class="custom-class" />
                            <span>Eventos </span>
                        </router-link>
                    </li>
                    </div>
                </div>    
            </ul>
            <ul class="nav flex-column p-3">
                <div :class="[ $vssWidth < 768 ? 'row' : 'col-lg-13']">
                
                    <div :class="clase" v-if="getUser.permissions.includes('configuration_index')">
                    <li :class="clase_li">
                        <router-link to="/configuracion" class="nav-link">
                            <settings-icon size="1.5x" class="custom-class" />
                            <span>Configuración </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('home_about')" >
                    <li :class="clase_li">
                        <router-link to="/acerca" class="nav-link">
                            <info-icon size="1.5x" class="custom-class" />
                            <span>Acerca </span>
                        </router-link>
                    </li>
                    </div>
                    <div :class="clase" v-if="getUser.permissions.includes('home_contact')">
                    <li  :class="clase_li">
                        <router-link to="/contacto" class="nav-link">
                            <inbox-icon size="1.5x" class="custom-class" />
                            <span>Contacto </span>
                        </router-link>
                    </li>
                    </div>               
                
                    
                </div>    
            </ul>
            <ul class="nav flex-column p-3">
                <div :class="[ $vssWidth < 768 ? 'row' : 'col-lg-13']">
                    <div class="col user_menu" v-if="getUser.permissions.includes('user_profile')" >
                    <li  :class="clase_li">
                            <router-link class="nav-link" :to="'/usuario/' + getUser.id">
                                <user-icon size="1.5x" class="custom-class" /> 
                                <span>Perfil </span>
                            </router-link>
                    </li>
                    </div>
                    <div class="col user_menu " v-if="getUser.permissions.includes('home_contact')">
                        <li  :class="clase_li">
                            <a @click="logout"  href=# class="nav-link">
                                <log-out-icon size="1.5x" class="custom-class" /> <span>Cerrar sesión </span></a>
                        </li>
                    </div>
                </div> 
            </ul>
           
    
        </nav>    
   
    </div>


</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions} from 'vuex'
import { Minimize2Icon, HomeIcon, UsersIcon, UserIcon, ArchiveIcon, MusicIcon, FolderIcon, SettingsIcon, InfoIcon, InboxIcon,CalendarIcon,BookOpenIcon,LogOutIcon } from 'vue-feather-icons'
import VueScreenSize from 'vue-screen-size'

export default {
    name: 'Sidebar',
    components: {
        Minimize2Icon,
        HomeIcon,
        UsersIcon,
        UserIcon,
        ArchiveIcon,
        MusicIcon,
        FolderIcon,
        SettingsIcon,
        InfoIcon,
        InboxIcon,
        CalendarIcon,
        BookOpenIcon,
        LogOutIcon
    },
    mixins: [VueScreenSize.VueScreenSizeMixin],    
    methods: {
    ...mapActions(['destroyUser']),
    logout() {
        axios.get('/logout')
            .then(() => {})
            .catch(() => {})
            .finally(() => {
                this.destroyUser()
                this.$router.push('/login').catch(() => {})
            })
    }
    },
    data(){
        return{
            clase:"col option",
            clase_li:"nav-item "
        }
    },
    computed: {
      ...mapGetters(['getUser'])
    }
}
</script>

<style scoped>
.sidebar {
    position: fixed;
    top: 4.5rem;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    justify-content: space-between;
    width: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 10px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #7d2c33;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.minimize .feather {
    width: 16px;
    height: 16px;
}

.minimize{
    position: absolute;
    top: 0px;
    right: 0px;
    height: auto;
    width: auto;
}

.sidebar-options {
    height: calc(100vh - 15rem);
    padding-bottom: 3px;
    overflow-y: auto;
}

.col {
    font-size: 100%;
}

.nav-link{
    padding: .5rem 0rem;
}

.row {
    font-size: 80%;
}

.user_menu{
    visibility: hidden;
}

@media(max-width: 767px){
    .sidebar{
        position: initial;        
    }   

    .sidebar-options {
    height: auto;
    
    }

    .sidebar .nav-link .feather {
    margin-right: 0px;
    color: #999;
    }

    .nav-link {
        display: block;
    }

    .user_menu{
        visibility: visible;
        color: inherit;
    }

    span {
        font-size: 10px;
    }
    
    .col{
        max-width: 70px;
    }

    .row{
        font-size: 110%;
        justify-content: center;
        padding: 10px;
    }

    a {
        text-align: center; 
    }

    ul {
        padding: 0.5rem!important;
    }
    
    .container-fluid{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media(max-height: 835px) and (min-width: 800px){
    .sidebar{
        font-size: 13px;
            }
    .option{
        height: 30px;
    }

    
    
}



</style>