<template>
<form @submit.prevent="startProcessing" class="editable-form needs-validation inline-form" id="student_info_form" novalidate> <!-- action-->
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="first_name_input" class="card-title h6">Nombre</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <input type="text" class="editable-input form-control w-100 disabled" name="first_name_input" id="first_name_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.first_name.isValid }" v-model="form.first_name.new" :disabled="!isEditing">
                <div class="invalid-tooltip mr-auto">
                    Ingrese un nombre válido.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
            <div class="form-group editable-form-group col">
                <label for="last_name_input" class="card-title h6">Apellido</label>
                <div class="input-group justify-content-middle d-flex flex-column">
                    
                    <input type="text" class="editable-input form-control w-100 disabled"
                        name="last_name_input" id="last_name_input"
                        :class="{ disabled: !isEditing, 'is-invalid' : !form.last_name.isValid }" v-model="form.last_name.new"  :disabled="!isEditing">

                    <div class="invalid-tooltip mr-auto">
                        Ingrese un apellido válido.
                    </div>
                </div>
            </div>
    </div>
     <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="sex_input" class="card-title h6">Genero:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="sex_input" id="sex_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.sex.isValid }" v-model="form.sex.new" :disabled="!isEditing">
                        <option v-for=" sex in sexs" :key="sex.id" :value="sex.id">
                        {{ sex.name }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione un genero.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="dnitype_input" class="card-title h6">Tipo de documento:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="dnitype_input" id="dnitype_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.dnitype.isValid }" v-model="form.dnitype.new" required :disabled="!isEditing">
                        <option v-for=" dnitype in dnitypes" :key="dnitype.id" :value="dnitype.id" >
                        {{ dnitype.nombre }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione un tipo de documento.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="dni_input" class="card-title h6">Numero de documento:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <input type="number" class="editable-input form-control w-100 disabled" name="dni_input" id="dni_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.dni.isValid }" v-model="form.dni.new" :disabled="!isEditing">
                <div class="invalid-tooltip mr-auto">
                    Ingrese un numero de documento válido.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="phone_input" class="card-title h6">Telefono:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <input type="number" class="editable-input form-control w-100 disabled" name="phone_input" id="phone_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.phone.isValid }" v-model="form.phone.new" :disabled="!isEditing">
                <div class="invalid-tooltip mr-auto">
                    Ingrese un telefono valido.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="birthday_input" class="card-title h6">Fecha de nacimiento:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                      
               <date-picker input-class="editable-input form-control w-100 disabled " :disabled="!isEditing" v-model="selectedDate" value-type="format" format="YYYY-MM-DD" :editable="false" :clearable="false"></date-picker>
                <div class="invalid-tooltip mr-auto">
                    Ingrese una fecha.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="city_input" class="card-title h6">Localidad actual:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="city_input" id="city_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.city.isValid }" v-model="form.city.new" :disabled="!isEditing">
                        <option v-for=" city in citys" :key="city.id" :value="city.id">
                        {{ city.nombre }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione una localidad.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="birthplace_input" class="card-title h6">Lugar de nacimiento:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="birthplace_input" id="birthplace_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.city.isValid }" v-model="form.birthplace.new" :disabled="!isEditing">
                        <option v-for=" city2 in citys" :key="city2.id" :value="city2.id">
                        {{ city2.nombre }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione una localidad.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="address_input" class="card-title h6">Domicilio:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <input type="text" class="editable-input form-control w-100 disabled" name="address_input" id="address_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.address.isValid }" v-model="form.address.new" :disabled="!isEditing">
                <div class="invalid-tooltip mr-auto">
                    Ingrese un domicilio valido.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="neighborhood_input" class="card-title h6">Barrio:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="neighborhood_input" id="neighborhood_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.neighborhood.isValid }" v-model="form.neighborhood.new" :disabled="!isEditing">
                        <option v-for=" neighborhood in neighborhoods" :key="neighborhood.id" :value="neighborhood.id">
                        {{ neighborhood.name }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione un barrio.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="school_input" class="card-title h6">Escuela:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="school_input" id="school_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.school.isValid }" v-model="form.school.new" :disabled="!isEditing">
                        <option v-for=" school in schools" :key="school.id" :value="school.id">
                        {{ school.name }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione una escuela.
                </div>
            </div>
        </div>
    </div>
     <div class="form-row">
        <div class="form-group editable-form-group col">
            <label for="level_input" class="card-title h6">Nivel:</label>
            <div class="input-group justify-content-middle d-flex flex-column">                        
                <select class="editable-input form-control w-100 disabled" name="level_input" id="level_input"
                    :class="{ disabled: !isEditing, 'is-invalid' : !form.level.isValid }" v-model="form.level.new" :disabled="!isEditing">
                        <option v-for=" level in levels" :key="level.id" :value="level.id">
                        {{ level.name }}
                        </option>
                    </select>
                <div class="invalid-tooltip mr-auto">
                    Seleccione un nivel.
                </div>
            </div>
        </div>
    </div>
    
    
        <EditableInputButtonGroup @start-editing="startEditing" @stop-editing="stopEditing" @start-processing="startProcessing" :isEditing="isEditing" :isProcessing="isProcessing" />
        
    </form>
</template>

<script>
import axios from 'axios'
import EditableInputButtonGroup from './EditableInputButtonGroup'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';



export default {
    name: 'UpdateStudentInfoForm',
    components: {
        EditableInputButtonGroup,
        DatePicker
        
    },
    data() {
         axios.get('https://api-referencias.proyecto2019.linti.unlp.edu.ar/tipo-documento')
                .then(response => {
                    this.dnitypes = response.data
        })
        axios.get('https://api-referencias.proyecto2019.linti.unlp.edu.ar/localidad')
                .then(response => {
                    this.citys = response.data
        })
        axios.get('/neighborhood')
                .then(response => {
                    this.neighborhoods = response.data
        })
        axios.get('/school')
                .then(response => {
                    this.schools = response.data
        })
        axios.get('/level')
                .then(response => {
                    this.levels = response.data
        })
        axios.get('/gender')
                .then(response => {
                    this.sexs = response.data
        })    
        return {
            date: new Date(),            
            isEditing: false,
            isProcessing: false,
            selectedDate: null,           
            
            neighborhoods: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            schools: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            levels: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            neighborhoods: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            citys: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            dnitypes: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            sexs: [
                {
                    id: null,                    
                    name: null,
                    
                }
            ],
            form: {
                first_name: {
                    id: 'first_name',
                    actual: null,
                    new: null,
                    isValid: true
                },
                last_name: {
                    id: 'last_name',
                    actual: null,
                    new: null,
                    isValid: true
                },
                birthplace: {
                    id: 'birthplace',
                    actual: null,
                    new: null,
                    isValid: true
                },              
                city: {
                    id: 'city',
                    actual: null,
                    new: null,
                    isValid: true
                },
                address: {
                    id: 'address',
                    actual: null,
                    new: null,
                    isValid: true
                },
                dnitype: {
                    id: 'dnitype',
                    actual: null,
                    new: null,
                    isValid: true
                },
                dni: {
                    id: 'dni',
                    actual: null,
                    new: null,
                    isValid: true
                },
                birthday: {
                    id: 'birthday',
                    actual: null,
                    new: null,
                    isValid: true
                },
                phone: {
                    id: 'phone',
                    actual: null,
                    new: null,
                    isValid: true
                },
                school: {
                    id: 'school',
                    actual: null,
                    new: null,
                    isValid: true
                },
                neighborhood: {
                    id: 'neighborhood',
                    actual: null,
                    new: null,
                    isValid: true
                },
                level: {
                    id: 'level',
                    actual: null,
                    new: null,
                    isValid: true
                },
                sex: {
                    id: 'sex',
                    actual: null,
                    new: null,
                    isValid: true
                }       
            }  
            
        }
    },
    methods: {
        
        startEditing() {
            this.isEditing = true
        },
        stopEditing() {
            this.form.first_name.new = this.form.first_name.actual
            this.form.last_name.new = this.form.last_name.actual
            this.form.dni.new = this.form.dni.actual
            this.form.dnitype.new = this.form.dnitype.actual
            this.form.phone.new = this.form.phone.actual
            this.form.city.new = this.form.city.actual
            this.form.address.new = this.form.address.actual
            this.form.birthday.new = this.form.birthday.actual
            this.form.birthplace.new = this.form.birthplace.actual
            this.form.level.new = this.form.level.actual
            this.form.neighborhood.new = this.form.neighborhood.actual
            this.form.school.new = this.form.school.actual
            this.form.sex.new = this.form.sex.actual
            
            this.isEditing = false
        },
        startProcessing() {
            this.isProcessing = true
            this.$emit('processing')
            
            const formData = new FormData()
            formData.append('first_name_input', this.form.first_name.new)
            formData.append('last_name_input', this.form.last_name.new)
            formData.append('dni_input', this.form.dni.new)
            formData.append('dnitype_input', this.form.dnitype.new)
            formData.append('phone_input', this.form.phone.new)
            formData.append('city_input', this.form.city.new)
            formData.append('address_input', this.form.address.new)
            formData.append('birthday_input', this.selectedDate)
            formData.append('birthplace_input', this.form.birthplace.new)
            formData.append('sex_input', this.form.sex.new)
            formData.append('neighborhood_input', this.form.neighborhood.new)
            formData.append('level_input', this.form.level.new)
            formData.append('school_input', this.form.school.new)
            


            axios.put('/student/' + this.$route.params.id, formData)
                .then(response => {
                    this.form.first_name.actual = this.form.first_name.new
                    this.form.last_name.actual = this.form.last_name.new
                    this.form.dni.actual = this.form.dni.new
                    this.form.dnitype.actual = this.form.dnitype.new
                    this.form.address.actual = this.form.address.new
                    this.form.city.actual = this.form.city.new
                    this.form.phone.actual = this.form.phone.new
                    this.form.birthday.actual = this.form.birthday.new
                    this.form.birthplace.actual = this.form.birthplace.new
                    this.form.level.actual = this.form.level.new
                    this.form.neighborhood.actual = this.form.neighborhood.new
                    this.form.school.actual = this.form.school.new
                    this.form.sex.actual = this.form.sex.new

                    this.isEditing = false
                    
                    for (const value of Object.values(this.form)) {
                        value.isValid = true
                    }
                    this.$toast.success('actualizado', 'Alumno')
                })
                .catch(error => {                 
                    if (error.response.status == 400) {
                        for (const value of Object.values(this.form)) {
                            if (error.response.data.includes(value.id))
                                value.isValid = false
                        }
                    } else {
                        this.isEditing = false
                        this.$toast.error('Inténtelo más tarde', 'Error')
                    }
                })
                .finally(() => {
                    this.isProcessing = false
                })
        }
    },
    created() {
        axios.get('/student/'+this.$route.params.id)
            .then(response => {
                this.form.first_name.actual = response.data.student_data_first_name
                this.form.first_name.new = this.form.first_name.actual
                this.form.last_name.actual = response.data.student_data_last_name
                this.form.last_name.new = this.form.last_name.actual
                this.form.dni.actual = response.data.student_data_dni
                this.form.dni.new = this.form.dni.actual
                this.form.dnitype.actual = response.data.student_data_dnitype
                this.form.dnitype.new = this.form.dnitype.actual
                this.form.address.actual = response.data.student_data_address
                this.form.address.new = this.form.address.actual
                this.form.city.actual = response.data.student_data_id_city
                this.form.city.new = this.form.city.actual
                this.form.phone.actual = response.data.student_data_phone
                this.form.phone.new = this.form.phone.actual
                this.form.birthday.actual = response.data.student_data_birthday
                this.form.birthday.new = this.form.birthday.actual    
                this.form.birthplace.actual = response.data.student_data_birthplace
                this.form.birthplace.new = this.form.birthplace.actual
                this.selectedDate = this.form.birthday.new
                this.form.level.actual = response.data.student_data_id_level
                this.form.level.new = this.form.level.actual
                this.form.neighborhood.actual = response.data.student_data_id_neighborhood
                this.form.neighborhood.new = this.form.neighborhood.actual
                this.form.school.actual = response.data.student_data_id_school
                this.form.school.new = this.form.school.actual
                this.form.sex.actual = response.data.student_data_id_gender
                this.form.sex.new = this.form.sex.actual
            })
            .catch(error => {})
    }    
}
</script>

<style scoped>
input.disabled {
    border: 0;
    background-color: transparent !important;
}

form.needs-validation input {
    padding-right: 36px;
}

textarea.editable-input:disabled {
    background-color: transparent;
    border: none;
}

.invalid-tooltip {
    position: inherit;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #73363b;
    background-color: #69262c;
}
</style>
