<template>
  <form
    @submit.prevent="startProcessing"
    class="editable-form needs-validation inline-form"
    novalidate
  >
    <!-- Period List -->
    <div class="form-row my-2 mt-3">
      <div class="form-group editable-form-group col">
        <select
          class="editable-input form-control w-100"
          id="period"
          v-model.trim="form.period.new"
          :disabled="true"
        >
          <option :key="period.id" v-for="period in periods" :value="period.id">{{ period.name }}</option>
        </select>
        <label for="period" class="form-placeholder">Ciclo lectivo</label>
      </div>
    </div>

    <!-- Workshop List-->
    <div class="form-row my-2">
      <div
        class="form-group editable-form-group col"
        :class="{ 'form-group--error': $v.form.workshop.new.$error || !form.workshop.isValid}"
      >
        <select
          class="form-control w-100"
          id="workshop"
          v-model.trim="$v.form.workshop.new.$model"
          :class="{ 'is-invalid': $v.form.workshop.new.$error || !form.workshop.isValid }"
          :disabled="!isEditing"
        >
          <option
            :key="workshop.id"
            v-for="workshop in workshops"
            :value="workshop.id"
          >{{ workshop.name }}</option>
        </select>
        <label for="workshop" class="form-placeholder">Taller</label>
        <div class="invalid-tooltip">Seleccione un taller válido</div>
      </div>
    </div>

    <!-- Center List -->
    <div class="form-row my-2">
      <div
        class="form-group editable-form-group col"
        :class="{ 'form-group--error': $v.form.center.new.$error || !form.center.isValid }"
      >
        <select
          class="form-control w-100"
          id="center"
          v-model.trim="$v.form.center.new.$model"
          :class="{ 'is-invalid': $v.form.center.new.$error || !form.center.isValid }"
          :disabled="!isEditing"
        >
          <option :key="center.id" v-for="center in centers" :value="center.id">{{ center.name }}</option>
        </select>
        <label for="center" class="form-placeholder">Núcleo</label>
        <div class="invalid-tooltip">Seleccione un núcleo válido</div>
      </div>
    </div>

    <!-- Weekday List -->
    <div class="form-row my-2">
      <div class="form-group editable-form-group col">
        <select class="form-control" id="weekday" v-model.trim="form.weekday.new" :disabled="true">
          <option
            :key="weekday.id"
            v-for="weekday in weekdays"
            :value="weekday.id"
          >{{ weekday.name }}</option>
        </select>
        <label for="weekday" class="form-placeholder">Día</label>
      </div>
    </div>

    <!-- Hour -->

    <div class="form-row mb-2">
      <div
        class="form-group editable-form-group col"
        :class="{ 'form-group--error': $v.form.hour.new.$error }"
      >
        <p class="mb-2" for="hour">Hora:</p>
        <date-picker
          v-model="$v.form.hour.new.$model"
          type="time"
          class="w-100"
          id="hour"
          placeholder="Seleccione una hora"
          value-type="format"
          format="HH:mm"
          :class="{ 'is-invalid': $v.form.hour.new.$error || !form.hour.isValid }"
          :disabled="!isEditing"
        />
        <div
          v-if="$v.form.hour.new.$error || !form.hour.isValid"
          class="invalid-tooltip d-inline-block"
        >Seleccione una hora válida</div>
      </div>
    </div>

    <!-- Edit & cancel buttons -->
    <EditableInputButtonGroup v-if="havePermissionUpdate()"
      @start-editing="startEditing"
      @stop-editing="stopEditing"
      @start-processing="startProcessing"
      :isEditing="isEditing"
      :isProcessing="isProcessing"
    />
  </form>
</template>

<script>
import axios from "axios";
import EditableInputButtonGroup from "./EditableInputButtonGroup";
import { required } from "vuelidate/lib/validators";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/es";
import { mapGetters } from "vuex";

export default {
  name: "UpdateCourseInfoForm",
  components: {
    EditableInputButtonGroup,
    DatePicker
  },
  data() {
    return {
      isEditing: false,
      isProcessing: false,
      periods: [],
      workshops: [],
      centers: [],
      weekdays: [],
      enrollments: [],
      form: {
        period: {
          new: null
        },
        workshop: {
          id: "workshop",
          new: null,
          isValid: true
        },
        center: {
          id: "center",
          new: null,
          isValid: true
        },
        weekday: {
          new: null
        },
        hour: {
          id: "hour",
          new: null,
          isValid: true
        }
      }
    };
  },
  validations() {
    return {
      form: {
        workshop: {
          new: {
            required
          }
        },
        center: {
          new: {
            required
          }
        },
        hour: {
          new: {
            required
          }
        }
      }
    };
  },
  created() {
    let url_periods = "/period";
    let url_workshops = "/workshop";
    let url_centers = "/center";
    let url_weekdays = "/weekday";
    let url_enrollments = "/enrollment";
    axios
      .get(url_periods)
      .then(response => {
        let data = response.data;
        let result = [];
        data.forEach(element => {
          result.push({
            id: element.id,
            name:
              element.start +
              " - " +
              element.end +
              " (Semestre: " +
              element.semester +
              ")"
          });
        });
        this.periods = result;
      })
      .catch(e => {});
    axios
      .get(url_enrollments)
      .then(response => {
        this.enrollments = response.data;
      })
      .catch(e => {});
    axios
      .get(url_workshops)
      .then(response => {
        this.workshops = response.data;
      })
      .catch(e => {});
    axios
      .get(url_centers)
      .then(response => {
        this.centers = response.data;
      })
      .catch(e => {});
    axios
      .get(url_weekdays)
      .then(response => {
        this.weekdays = response.data;
      })
      .catch(e => {});
    axios
      .get("/course/" + this.$route.params.id)
      .then(response => {
        this.form.period.actual = response.data.period;
        this.form.period.new = this.form.period.actual;
        this.form.workshop.actual = response.data.workshop;
        this.form.workshop.new = this.form.workshop.actual;
        this.form.center.actual = response.data.center;
        this.form.center.new = this.form.center.actual;
        this.form.weekday.actual = response.data.weekday;
        this.form.weekday.new = this.form.weekday.actual;
        this.form.hour.actual = response.data.hour;
        this.form.hour.new = this.form.hour.actual;
      })
      .catch(error => {});
  },
  methods: {
    ...mapGetters(["getUser"]),
    havePermissionUpdate(){
      if(this.getUser().permissions.includes("course_update_info")){
        return true
      }
      else{
        return false
      }
    },
    startEditing() {
      this.isEditing = true;
    },
    stopEditing() {
      this.form.period.new = this.form.period.actual;
      this.form.workshop.new = this.form.workshop.actual;
      this.form.center.new = this.form.center.actual;
      this.form.workshop.new = this.form.workshop.actual;
      this.form.hour.new = this.form.hour.actual;
      this.$v.$reset();
      for (const value of Object.values(this.form)) {
        value.isValid = true;
      }
      this.isEditing = false;
    },
    startProcessing() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      this.$emit("processing");
      const formData = new FormData();
      formData.append("id", this.$route.params.id);
      formData.append("workshop", this.form.workshop.new);
      formData.append("period", this.form.workshop.new);
      formData.append("weekday", this.form.workshop.new);
      formData.append("center", this.form.center.new);
      formData.append("hour", this.form.hour.new);
      axios
        .post("/course_update_info", formData)
        .then(response => {
          this.form.workshop.actual = this.form.workshop.new;
          this.form.center.actual = this.form.center.new;
          this.form.hour.actual = this.form.hour.new;
          this.isEditing = false;
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          this.$toast.success('actualizado', 'Curso');
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)) value.isValid = false;
            }
            this.$toast.error("no pudo crearse", "Curso");
          } else {
            this.isEditing = false;
            this.$toast.error('Inténtelo más tarde', 'Error');
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    }
  }
};
</script>

<style scoped>
input.disabled {
  border: 0;
  background-color: transparent !important;
}

form.needs-validation input {
  padding-right: 36px;
}

textarea.editable-input:disabled {
  background-color: transparent;
  border: none;
}

.invalid-tooltip {
  position: unset;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #73363b;
  background-color: #69262c;
}
</style>
