<template>
  <form
    @submit.prevent="startProcessing"
    class="editable-form needs-validation inline-form"
    id="center_info_form"
    novalidate
    enctype="multipart/form-data"
  >
    <!-- Start -->
    <div class="form-row">
      <div
        class="form-group editable-form-group col">
        <p class="mb-2" for="start">Inicio del ciclo:</p>

        <date-picker
          v-model="$v.form.start.new.$model"
          type="date"
          class="w-100 editable-input"
          id="start"
          placeholder="Seleccione la fecha de inicio"
          value-type="DD/MM/YYYY"
          format="DD-MM-YYYY"
          :disabled-date="notBeforeToday"
          :class="{ 'is-invalid': $v.form.start.new.$error | !form.start.isValid }"
          :disabled="!isEditing"
        />

        <div
          v-if="$v.form.start.new.$error || !form.start.isValid"
          class="invalid-tooltip d-inline-block"
        >Ingrese una fecha de inicio válida</div>
      </div>
    </div>

    <!-- End -->
    <div class="form-row">
      <div
        class="form-group editable-form-group col">
        <p class="mb-2" for="end">Fin del ciclo:</p>

        <date-picker
          v-model="$v.form.end.new.$model"
          type="date"
          class="w-100 editable-input"
          id="end"
          placeholder="Seleccione la fecha de fin"
          value-type="DD/MM/YYYY"
          format="DD-MM-YYYY"
          :disabled-date="notBeforeToday"
          :class="{'is-invalid': $v.form.end.new.$error | !form.end.isValid }"
          :disabled="!isEditing"
        />

        <div
          v-if="$v.form.end.new.$error || !form.end.isValid"
          class="invalid-tooltip d-inline-block"
        >Ingrese una fecha de finalización válida</div>
      </div>
    </div>

    <!-- Semesters Radios -->
    <div class="form-row">
      <div
        class="form-group editable-form-group col"
      >
        <p class="mb-2">Seleccione un semestre:</p>

        <div class="form-check">
          <input
            v-model="$v.form.semester.new.$model"
            class="form-check-input"
            type="radio"
            name="semester"
            id="semester"
            value="1"
            :disabled="!isEditing"
          />
          <label class="form-check-label" for="semester1">Semestre 1</label>
        </div>
        <div class="form-check">
          <input
            v-model="$v.form.semester.new.$model"
            class="form-check-input"
            type="radio"
            name="semester"
            id="semester2"
            value="2"
            :disabled="!isEditing"
          />
          <label class="form-check-label" for="semester2">Semestre 2</label>
        </div>
        <div
          v-if="$v.form.semester.new.$error || !form.semester.isValid"
          class="invalid-tooltip d-inline-block"
        >Seleccione un semestre</div>
      </div>
    </div>

    <!-- Edit & cancel buttons -->
    <EditableInputButtonGroup v-if="havePermissionUpdate()"
      @start-editing="startEditing"
      @stop-editing="stopEditing"
      @start-processing="startProcessing"
      :isEditing="isEditing"
      :isProcessing="isProcessing"
    />
  </form>
</template>

<script>
import axios from "axios";
import EditableInputButtonGroup from "./EditableInputButtonGroup";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import "vue2-datepicker/locale/es";
import { required, maxValue } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";

export default {
  name: "UpdateInstrumentInfoForm",
  components: {
    EditableInputButtonGroup,
    DatePicker
  },
  data() {
    return {
      isEditing: false,
      isProcessing: false,
      today: new Date(),
      form: {
        start: {
          id: "start",
          new: null,
          isValid: true
        },
        end: {
          id: "end",
          new: null,
          isValid: true
        },
        semester: {
          id: "semester",
          new: null,
          isValid: true
        }
      }
    };
  },
  validations() {
    return {
      form: {
        start: {
          new: {
            required,
            maxValue: value => {
              if (
                value != "" &&
                value != null &&
                this.form.end.new != "" &&
                this.form.end.new != null
              ) {
                let str1 = value.split("/");
                let str2 = this.form.end.new.split("/");
                let date1 = new Date(str1[2], parseInt(str1[1]) - 1, str1[0]);
                let date2 = new Date(str2[2], parseInt(str2[1]) - 1, str2[0]);
                return date1 < date2;
              } else {
                return true;
              }
            }
          }
        },
        end: {
          new: {
            required,
            maxValue: value => {
              if (
                value != "" &&
                value != null &&
                this.form.start.new != "" &&
                this.form.start.new != null
              ) {
                let str1 = value.split("/");
                let str2 = this.form.start.new.split("/");
                let date1 = new Date(str1[2], parseInt(str1[1]) - 1, str1[0]);
                let date2 = new Date(str2[2], parseInt(str2[1]) - 1, str2[0]);
                return date1 > date2;
              } else {
                return true;
              }
            }
          }
        },
        semester: {
          new: {
            required
          }
        }
      }
    };
  },
  methods: {
    ...mapGetters(["getUser"]),
    havePermissionUpdate(){
      if(this.getUser().permissions.includes("period_update_info")){
        return true
      }
      else{
        return false
      }
    },
    notBeforeToday(date) {
      return date < this.today;
    },
    startEditing() {
      this.isEditing = true;
    },
    stopEditing() {
      this.form.start.new = this.form.start.actual;
      this.form.end.new = this.form.end.actual;
      this.form.semester.new = this.form.semester.actual;
      this.isEditing = false;
    },
    startProcessing() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      this.$emit("processing");
      const formData = new FormData();
      formData.append("id", this.$route.params.id);
      formData.append("start", this.form.start.new);
      formData.append("end", this.form.end.new);
      formData.append("semester", this.form.semester.new);
      axios
        .post("/period_update_info", formData)
        .then(response => {
          this.form.start.actual = this.form.start.new;
          this.form.end.actual = this.form.end.new;
          this.form.semester.actual = this.form.semester.new;
          this.isEditing = false;
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          this.$toast.success('actualizado', 'Ciclo lectivo');
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)){
                value.isValid = false;
              }
              else{
                value.isValid = true;
              }
            }
            this.$toast.error('no pudo actualizarse', 'Ciclo lectivo');
          } else {
            this.isEditing = false;
            this.$toast.error('Inténtelo más tarde', 'Error');
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    }
  },
  created() {
    axios
      .get("/period/" + this.$route.params.id)
      .then(response => {
        this.form.start.actual = response.data.start;
        this.form.start.new = this.form.start.actual;
        this.form.end.actual = response.data.end;
        this.form.end.new = this.form.end.actual;
        this.form.semester.actual = response.data.semester;
        this.form.semester.new = this.form.semester.actual;
      })
      .catch(error => {});
  }
};
</script>

<style scoped>
input.disabled {
  border: 0;
  background-color: transparent !important;
}

form.needs-validation input {
  padding-right: 36px;
}

textarea.editable-input:disabled {
  background-color: transparent;
  border: none;
}

.invalid-tooltip {
  position: unset;
}

.mx-datepicker.is-invalid {
  border: 1px solid #dc3545;
  border-radius: 0.25rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #73363b;
  background-color: #69262c;
}
</style>
