<template>
  <form
    @submit.prevent="startProcessing"
    class="editable-form needs-validation inline-form"
    id="center_info_form"
    novalidate
    enctype="multipart/form-data"
  >
    <!-- Instrument Name-->
    <div class="form-row my-2 mt-3">
      <div
        class="form-group editable-form-group col"
        :class="{ 'form-group--error': $v.form.name.new.$error || !form.name.isValid}"
      >
        <div class="input-group justify-content-middle d-flex flex-column">
          <input
            type="text"
            class="editable-input form-control w-100 disabled"
            name="name"
            placeholder=" "
            id="name"
            :class="{ 'is-invalid' : $v.form.name.new.$error || !form.name.isValid }"
            v-model.trim="$v.form.name.new.$model"
            :disabled="!isEditing"
          />
          <label for="name" class="form-placeholder">Nombre</label>
          <div class="invalid-tooltip">Ingrese un nombre válido.</div>
        </div>
      </div>
    </div>

    <!-- Instrument Number-->
    <div class="form-row my-2">
      <div
        class="form-group editable-form-group col"
        :class="{ 'form-group--error': $v.form.number.new.$error || !form.number.isValid }"
      >
        <div class="input-group justify-content-middle d-flex flex-column">
          <input
            type="number"
            class="editable-input form-control w-100 disabled"
            name="number"
            id="number"
            placeholder=" "
            :class="{ 'is-invalid' : $v.form.number.new.$error || !form.number.isValid }"
            v-model.trim="$v.form.number.new.$model"
            :disabled="!isEditing"
          />
          <label for="number" class="form-placeholder">Número de inventario</label>
          <div class="invalid-tooltip">Ingrese un número válido.</div>
        </div>
      </div>
    </div>

    <!-- Instrument Type-->
    <div class="form-row my-2">
      <div
        class="form-group editable-form-group col"
        :class="{ 'form-group--error': $v.form.type.new.$error || !form.type.isValid }"
      >
        <select
          class="editable-input form-control w-100"
          name="ins_type"
          id="ins_type"
          :class="{ 'is-invalid' : $v.form.type.new.$error || !form.type.isValid }"
          v-model.trim="$v.form.type.new.$model"
          :disabled="!isEditing"
        >
        <option hidden disabled :value="null" >Seleccione un tipo de instrumento</option>
          <option v-for="type in types" :key="type.id" :value="type.id">{{ type.name }}</option>
        </select>
        <label for="ins_type" class="form-placeholder">Tipo</label>
        <div class="invalid-tooltip">Seleccione un tipo de instrumento válido.</div>
      </div>
    </div>

    <!-- Instrument Photo-->
    <div class="form-row my-2">
      <div class="form-group editable-form-group col">
        <p for="photo" class="ml-2">Foto:</p>
        <vue-dropzone
          v-if="isEditing"
          ref="instrument_dropzone"
          id="photo"
          :options="dropzoneOptions"
          :useCustomSlot="true"
          @vdropzone-success="correctPhoto"
          @vdropzone-error="errorPhoto"
          @vdropzone-removed-file="removePhoto"
        >
          <div class="dropzone-custom-content">
            <h3 class="dropzone-custom-title">Seleccione o arrastre una foto del instrumento</h3>
            <div class="subtitle">Archivos aceptados: .png, .jpg y .jpeg</div>
          </div>
        </vue-dropzone>
        <div v-if="!form.photo.isValid" class="invalid-tooltip d-inline-block mt-3">{{form.photo.message}}</div>
        <div id="preview" v-if="!isEditing">
          <img v-if="url" :src="url" class="rounded mx-auto d-block img-fluid" />
        </div>
      </div>
    </div>

    <!-- Edit & cancel buttons -->
    <EditableInputButtonGroup v-if="havePermissionUpdate()"
      @start-editing="startEditing"
      @stop-editing="stopEditing"
      @start-processing="startProcessing"
      :isEditing="isEditing"
      :isProcessing="isProcessing"
    />
  </form>
</template>

<script>
import axios from "axios";
import EditableInputButtonGroup from "./EditableInputButtonGroup";
import { required, maxLength } from "vuelidate/lib/validators";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { mapGetters } from "vuex";

export default {
  name: "UpdateInstrumentInfoForm",
  components: {
    EditableInputButtonGroup,
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 230,
        thumbnailHeight: 250,
        maxFilesize: 2,
        acceptedFiles: ".png,.jpg,.jpeg",
        addRemoveLinks: true,
        dictRemoveFile: "Eliminar imagen",
        dictFileTooBig:
          "El tamaño del archivo es muy grande ({{filesize}} MB). La capacidad maxima es de 2MB",
        dictInvalidFileType:
          "El tipo de archivo seleccionado es incorrecto. Asegurese de seleccionar una imagen .png, .jpg, .jpeg",
        accept: function(file, done) {
          var ext = file.name.split(".")[1]; // get extension from file name
          if (ext == "png" || ext == "jpg" || ext == "jpeg") {
            var files = this.getAcceptedFiles();
            if (files.length > 0) {
              this.removeFile(files[0]);
            }
            done();
          }
        }
      },
      isEditing: false,
      isProcessing: false,
      types: [],
      url: null,
      form: {
        name: {
          id: "name",
          new: null,
          isValid: true
        },
        number: {
          id: "number",
          new: null,
          isValid: true
        },
        type: {
          id: "ins_type",
          new: null,
          isValid: true
        },
        photo: {
          id: "photo",
          name: "",
          new: null,
          isValid: true,
          message: ""
        }
      }
    };
  },
  validations() {
    return {
      form: {
        name: {
          new: {
            required,
            maxLength: maxLength(20)
          }
        },
        number: {
          new: {
            required,
            maxLength: maxLength(20)
          }
        },
        type: {
          new: {
            required
          }
        }
      }
    };
  },
  methods: {
    ...mapGetters(["getUser"]),
    havePermissionUpdate(){
      if(this.getUser().permissions.includes("instrument_update_info")){
        return true
      }
      else{
        return false
      }
    },
    startEditing() {
      this.isEditing = true;
    },
    stopEditing() {
      this.form.name.new = this.form.name.actual;
      this.form.number.new = this.form.number.actual;
      this.form.type.new = this.form.type.actual;
      this.form.photo.new = null;
      this.form.photo.isValid=true;
      this.$refs.instrument_dropzone.removeAllFiles();
      this.$v.$reset();
      this.isEditing = false;
    },
    startProcessing() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      this.isProcessing = true;
      this.$emit("processing");
      const formData = new FormData();
      formData.append("id", this.$route.params.id);
      formData.append("name", this.form.name.new);
      formData.append("number", this.form.number.new);
      formData.append("old_number", this.form.number.actual);
      formData.append("ins_type", this.form.type.new);
      if (this.form.photo.new) {
        formData.append("photo", this.form.photo.new);
        formData.append("photo_size", this.form.photo.new.size);
      }
      axios
        .post("/instrument_update_info", formData)
        .then(response => {
          this.form.name.actual = this.form.name.new;
          this.form.number.actual = this.form.number.new;
          this.form.type.actual = this.form.type.new;
          if(this.form.photo.new){
            this.url = URL.createObjectURL(this.form.photo.new);
          }
          this.form.photo.new = null;
          this.isEditing = false;
          this.$refs.instrument_dropzone.removeAllFiles();
          for (const value of Object.values(this.form)) {
            value.isValid = true;
          }
          this.$toast.success('actualizado', 'Instrumento');
        })
        .catch(error => {
          if (error.response.status == 400) {
            for (const value of Object.values(this.form)) {
              if (error.response.data.includes(value.id)) value.isValid = false;
            }
            this.$toast.error("no pudo actualizarse", "Instrumento");
          } else {
            this.isEditing = false;
            this.$toast.error('Inténtelo más tarde', 'Error');
          }
        })
        .finally(() => {
          this.isProcessing = false;
        });
    },
    correctPhoto(file) {
      this.form.photo.new = file;
      this.form.photo.isValid = true;
    },
    errorPhoto(file, msg) {
      this.$refs.instrument_dropzone.removeFile(file);
      this.form.photo.isValid = false;
      this.form.photo.message = msg;
    },
    removePhoto(file) {
      if (this.form.photo.new) {
        if (file.name == this.form.photo.new.name) {
          this.form.photo.new = null;
        }
      }
    }
  },
  created() {
    axios
      .get("/instrument_type")
      .then(response => {
        this.types = response.data;
      })
      .catch(error => {});
    axios
      .get("/instrument/" + this.$route.params.id)
      .then(response => {
        this.form.name.actual = response.data.name;
        this.form.name.new = this.form.name.actual;
        this.form.number.actual = response.data.inventory_number;
        this.form.number.new = this.form.number.actual;
        this.form.type.actual = response.data.type.id;
        this.form.type.new = this.form.type.actual;
        this.form.photo.name = response.data.photo;
        if (this.form.photo.name) {
          this.url =
            process.env.VUE_APP_UPLOADS +
            this.form.photo.name;
        }
      })
      .catch(error => {});
  }
};
</script>

<style scoped>
input.disabled {
  border: 0;
  background-color: transparent !important;
}

form.needs-validation input {
  padding-right: 36px;
}

textarea.editable-input:disabled {
  background-color: transparent;
  border: none;
}

.invalid-tooltip {
  position: unset;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #73363b;
  background-color: #69262c;
}
</style>
